@font-face {
    font-family: 'waree';
    src: url('../font-t2i/waree.eot');
    src: url('../font-t2i/waree.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/waree.woff') format('woff'),
         url('../font-t2i/waree.ttf') format('truetype'),
         url('../font-t2i/waree.svg#waree') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arial';
    src: url('../font-t2i/arial.eot');
    src: url('../font-t2i/arial.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/arial.woff') format('woff'),
         url('../font-t2i/arial.ttf') format('truetype'),
         url('../font-t2i/arial.svg#arial') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'babelsans';
    src: url('../font-t2i/babelsans.eot');
    src: url('../font-t2i/babelsans.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/babelsans.woff') format('woff'),
         url('../font-t2i/babelsans.ttf') format('truetype'),
         url('../font-t2i/babelsans.svg#babelsans') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bauhaus';
    src: url('../font-t2i/bauhaus.eot');
    src: url('../font-t2i/bauhaus.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/bauhaus.woff') format('woff'),
         url('../font-t2i/bauhaus.ttf') format('truetype'),
         url('../font-t2i/bauhaus.svg#bauhaus') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'casablanca';
    src: url('../font-t2i/casablanca.eot');
    src: url('../font-t2i/casablanca.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/casablanca.woff') format('woff'),
         url('../font-t2i/casablanca.ttf') format('truetype'),
         url('../font-t2i/casablanca.svg#casablanca') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'decker';
    src: url('../font-t2i/deckerb.eot');
    src: url('../font-t2i/deckerb.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/deckerb.woff') format('woff'),
         url('../font-t2i/deckerb.ttf') format('truetype'),
         url('../font-t2i/deckerb.svg#decker') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dejavuserif';
    src: url('../font-t2i/dejavuserif.eot');
    src: url('../font-t2i/dejavuserif.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/dejavuserif.woff') format('woff'),
         url('../font-t2i/dejavuserif.ttf') format('truetype'),
         url('../font-t2i/dejavuserif.svg#dejavuserif') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dejavusanscondensed';
    src: url('../font-t2i/dejavusanscondensed.eot');
    src: url('../font-t2i/dejavusanscondensed.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/dejavusanscondensed.woff') format('woff'),
         url('../font-t2i/dejavusanscondensed.ttf') format('truetype'),
         url('../font-t2i/dejavusanscondensed.svg#dejavusanscondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dreamerone';
    src: url('../font-t2i/dreamerone.eot');
    src: url('../font-t2i/dreamerone.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/dreamerone.woff') format('woff'),
         url('../font-t2i/dreamerone.ttf') format('truetype'),
         url('../font-t2i/dreamerone.svg#dreamerone') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'erika';
    src: url('../font-t2i/erika.eot');
    src: url('../font-t2i/erika.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/erika.woff') format('woff'),
         url('../font-t2i/erika.ttf') format('truetype'),
         url('../font-t2i/erika.svg#erika') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'garamond';
    src: url('../font-t2i/garamond.eot');
    src: url('../font-t2i/garamond.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/garamond.woff') format('woff'),
         url('../font-t2i/garamond.ttf') format('truetype'),
         url('../font-t2i/garamond.svg#garamond') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kinnari';
    src: url('../font-t2i/kinnari.eot');
    src: url('../font-t2i/kinnari.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/kinnari.woff') format('woff'),
         url('../font-t2i/kinnari.ttf') format('truetype'),
         url('../font-t2i/kinnari.svg#kinnari') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'purisa';
    src: url('../font-t2i/purisa.eot');
    src: url('../font-t2i/purisa.eot?#iefix') format('embedded-opentype'),
         url('../font-t2i/purisa.woff') format('woff'),
         url('../font-t2i/purisa.ttf') format('truetype'),
         url('../font-t2i/purisa.svg#purisa') format('svg');
    font-weight: normal;
    font-style: normal;
}