
#t2iTabbed ul.tabs {
    overflow: hidden;
    background-color: #15ad48;
    border-top: 2px solid #15ad48;
    padding: 0 10px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#t2iTabbed li.tab {
    list-style: none;
    font-weight: bold;
    font-size: 15px;
    padding: 3px 20px 5px 20px;
    color: #fff;
}

#t2iTabbed ul.tabs > li {
    cursor: pointer;
    float: left;
}
#t2iTabbed li.tab.active {
    background-color: #fff;
    color: #15ad48;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#t2iTabbed .tabContent {
    padding-top: 10px;
    min-height: 200px;
}

#addNewImage {
    display: none;
}