#dialog-confirm, #dialog-preview, #dialogConfirmClearText,#textplate_main_list {
    display: none;
}
#dialogConfirmClearText span {float:left; margin:5px 10px 0 0;}

.imageTool .removeIcon{margin-top: 48px;}
.standarcheck, .imageTool .removeIcon{
    float:left;
    background-image:url(../../images/text2image/remove.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 100%;
    cursor: pointer;
}

.cfReview{
	width: 350px;
  	height: 250px;
}