<?php if(Mage::app()->getWebsite()->getId() == SE_WEBSITE_ID): ?>
<style type="text/css">
    #usFlags{
        background-color: #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        position: fixed; top: 10px; left: -4px;
        padding: 10px 10px 6px 10px;
        border: 1px solid #DCDCDC;
		z-index: 999;
		
    }
	#usFlags li{
		list-style: none;
	}
</style>

<ul id="usFlags">
    <li style="text-align: center; margin-bottom: 6px; border-bottom: 1px solid #DCDCDC;">
        <a style="color: #818181;" href="http://<?php echo $_SERVER['SERVER_NAME'] ?>/?___store=fin">
            <img alt="" src="<?php echo $this->getSkinUrl('images/flag/stamp_fi.jpg'); ?>"><br>
            Finland                        
        </a>
    </li>  
    <li style="text-align: center;">
        <a style="color: #818181;" href="http://<?php echo $_SERVER['SERVER_NAME'] ?>/?___store=se">
            <img alt="" src="<?php echo $this->getSkinUrl('images/flag/se.jpg'); ?>"><br>
            Sweden                        
        </a>
    </li>
</ul>
<?php endif; ?>