<style>
    ul.stockstamp_color_box{background-color: #fff; border: 1px solid #DCDCDC; border-radius: 4px; -moz-border-radius: 4px; solid; -webkit-border-radius: 4px; padding: 10px 0; position: absolute; top: 30px; display: none;}
    ul.stockstamp_color_box li{list-style: none; display: inline-block; margin: 0 5px;}
    ul.stockstamp_color_box li span.color{width: 24px; height: 24px; cursor: pointer; display: inline-block;}
    ul.stockstamp_color_box li span.stockstamp_radio input[type='radio']{top:0;}
</style>
<script>
    jQuery(document).ready(function() {
        jQuery('.newstockstamp-item').hover(function() {
            jQuery(this)
                .find('.stockstamp_color_box')
                .show()
                .stop()
                .animate({opacity: 1}, 'fast');
        }, function() {
            jQuery(this)
                .find('.stockstamp_color_box')
                .hide()
                .stop()
                .animate({opacity: 0}, 'fast');
        });

        jQuery('.stockstamp_radio > input').click(function() {
            var addtocartUrl = jQuery(this).next('a').attr('href');
            window.location.href = addtocartUrl;
        });
    });
</script> 
<?php 
$_productCateCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
$maxTotal = $this->getMaxProductInSubCate();
?>
<?php if ($maxTotal < 1): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="product-in-mobile">
	<div class="catagories-prd">
		<?php for($k = 0; $k < $maxTotal; $k++){?>
			<div class="products_simple products-grid inkpads-wrap">
			<?php for($i = 0; $i < count($_productCateCollection); $i++){
				$_product = $_productCateCollection[$i]['products'][$k];
				?>
				<?php if($_product):?>
					<?php $addtocartUrl = Mage::helper('checkout/cart')->getAddUrl($_product); ?>
				<?php endif?>
				<div class="col-sm-12 col-sm-12 col-md-6 col-lg-4 border padding marginam<?php if ($i == 0): ?> first <?php elseif($i == 2):?> last<?php endif?>">
					<div class="option">
						<div class="imgstamppro newstockstamp-item">
							<a href="#" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>">
								<?php if($_product->getPdfFile()):?>
								<img src="<?php echo $this->getUrl('text2image/image/pdfimage', array('file' => base64_encode($_product->getPdfFile()))) ?>" />
								<?php endif?>
							</a>
							<?php if($_product->getHasOptions()): ?>
							<ul class="stockstamp_color_box">
								<?php $options = Mage::getModel('catalog/product')->load($_product->getId())->getProductOptionsCollection(); ?>
								<?php foreach ($options as $o): ?>
									<?php
										$optionId = $o->getOptionId();
										$values   = $o->getValues();
									?>
									<?php foreach($values as $v): ?>
										<?php $optionTitle  = $v->getTitle(); ?>
										<?php $optionTypeId = $v->getOptionTypeId(); ?>
										<?php $addtocartUrl .= "&options[$optionId]=$optionTypeId"; ?>
										<li>
											<span class="stockstamp_radio">
												<input type="radio" name="stockstamp_color">
												<a href="<?php echo $addtocartUrl; ?>" style="display: none"></a>
											</span>
											<span class="color <?php echo strtolower($optionTitle); ?>"></span><?php echo $optionTitle; ?>
										</li>
									<?php endforeach; ?>
								<?php endforeach; ?>
							</ul>
						<?php endif; ?>
						<span class="represent price">
							<?php echo $this->__('Price'); ?>: <span class="price"> <?php echo $this->getPriceHtml($_product, true) ?></span>
						</span>
						</div>
					</div>
				</div>
			<?php }?>
			<div class="clear"></div>
			</div>
		<?php } ?>
		<script type="text/javascript">decorateGeneric($$('div.products-grid'), ['odd', 'even', 'first', 'last'])</script>
	</div>
	<div class="clear"></div>
	<div class="toolbar-bottom">
		<?php echo $this->getToolbarHtml() ?>
	</div>
</div>
<?php endif; ?>