<?php if( Mage::app()->getWebsite()->getId() == UK_WEBSITE_ID && false ): ?>

<style type="text/css">
    .getVoucherCode {
        background-color: #1d9b00;
        color: #FFFFFF;
        padding: 10px 10px 10px 5px;
        position: fixed;
        right: 0;
        bottom: <?php if(Mage::getSingleton('cms/page')->getIdentifier() == 'home' || Mage::app()->getFrontController()->getRequest()->getRouteName() == 'cms') echo '35%;'; else echo '50%'; ?>;
        width: 128px;
        z-index: 10;
        text-align: center;
        text-transform: capitalize;
        cursor: pointer;
        display:  block;
    }
</style>

    <a href="#getVoucherCode" class="getVoucherCode rounded" rel="superbox[content][392x]">
        <?php echo $this->__('Get voucher code'); ?>
    </a>
    
    <div style="display: none;">
        <div id="getVoucherCode" class="voucherWapper">
            <p class="text"><?php echo $this->__("We will send you an e-mail with your <span style='color:red'>%s</span> discount Voucher !", '35%'); ?></p>
            <form style="" method="post" action="">
                <p><?php echo $this->__('Please insert your e-mail address'); ?></p>
                <input type="text" style="width: 248px; height: 30px;" name="email" class="mk10Email1" kl_virtual_keyboard_secure_input="on">
                <button class="mk10Submit button" onclick="inputEmail1(this);" class="button" type="button"><?php echo $this->__('Submit'); ?></button>
            </form>
            <div class="overlay"><img src="<?php echo $this->getSkinUrl('images/fancybox_loading.gif') ?>" alt=""></div>
        </div>
    </div>
    
    <script type="text/javascript">
        function inputEmail1(obj)
        {
            var email = jQuery(obj).parent().find('.mk10Email1').val();
            email = jQuery.trim(email);
            // Validate email
            var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if( !regex.test(email) ){ // Check cemail format
                alert("<?php echo $this->__("Email is not correct format"); ?>");
                return false;
            }else{
                // Show overlay
                jQuery(obj).closest('#getVoucherCode').find('.overlay').show();
                
                // Call ajax
                jQuery.ajax({
                    type: 'post',
                    url: '<?php echo Mage::getBaseUrl(); ?>' + 'marketing10/index/inputemail',
                    data: 'email='+ jQuery(obj).parent().find('.mk10Email1').val(),
                    success: function(data){
                        if( data == '0' ){
                            alert("<?php echo $this->__("Email is not correct format"); ?>");
                        }else{
                            var html = "<p class='box box1 rounded'><?php echo $this->__('Here is your %s Discount Voucher', '35%'); ?><br/>"+ data +"</p>";
                            html += "<p class='box box2 rounded'><?php echo $this->__('We have already send it to your e-mail !'); ?></p>";
                            html += "<p class='box box3 rounded'><a href='<?php echo $this->getUrl(); ?>' style='color:#fff;'><?php echo $this->__('Please continue shopping. The voucher is already in your basket – Ready to apply'); ?></a></p>";
                            jQuery('.voucherWapper').html(html);
                        }
                    }
                });        
            }   
        }
    </script>
<?php endif; ?>
