
<a href="#marketing10" id="marketing10Click" rel="superbox[content][392x]">&nbsp;</a>

<div style="display: none;">
    <div id="marketing10" class="marketing10Wapper">
        <p class="text"><?php echo $this->__('Do you want <span style="color:red">%s</span> discount on your first purchase here at %s', '35%', preg_replace('#^https?://#', '', rtrim(Mage::getBaseUrl(),'/')));?></p>
        <p style="margin-left: 66px; display: table;">
            <span class="btn yes" onclick="clickYes(this)"><?php echo $this->__('Yes'); ?></span>
            <span class="btn no" onclick="clickNo(this)"><?php echo $this->__('No'); ?></span>
        </p>
        
        <form action="" method="post" style="display: none;">
            <p><?php echo $this->__('Please insert your e-mail address'); ?></p>
            <input class="mk10Email" type="text" name="email" style="width: 248px; height: 30px;">
            <button class="mk10Submit button" onclick="inputEmail(this);" class="button" type="button"><?php echo $this->__('Submit'); ?></button>
        </form>
        <div class="overlay"><img src="<?php echo $this->getSkinUrl('images/fancybox_loading.gif') ?>" alt=""></div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function(){
        setTimeout(showPopup, 2000);
    });
    
    function showPopup(){
        jQuery('#marketing10Click').trigger('click');
    }
    
    function clickNo(obj)
    {
        jQuery(obj).closest('#marketing10').find('p.text').html("<?php echo $this->__("Okay, enjoy your visit here at %s and do not hesitate if you have any questions or you need help!", preg_replace('#^https?://#', '', rtrim(Mage::getBaseUrl(),'/'))); ?>");
        jQuery(obj).parent().remove();
    }
    
    function clickYes(obj)
    {
        jQuery(obj).closest('#marketing10').find('p.text').html("<?php echo $this->__("We will send you an e-mail with your <span style='color:red'>%s</span> discount Voucher !", '35%'); ?>");
        jQuery(obj).closest('#marketing10').find('form').show();
        jQuery(obj).parent().remove();
    }

    function inputEmail(obj)
    {
        var email = jQuery(obj).parent().find('.mk10Email').val();
        email = jQuery.trim(email);
        // Validate email
        var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if( !regex.test(email) ){ // Check cemail format
            alert("<?php echo $this->__("Email is not correct format"); ?>");
            return false;
        }else{
            // Show overlay
            jQuery(obj).closest('#marketing10').find('.overlay').show();
            
            // Call ajax
            jQuery.ajax({
                type: 'post',
                url: '<?php echo Mage::getBaseUrl(); ?>' + 'marketing10/index/inputemail',
                data: 'email='+ jQuery(obj).parent().find('.mk10Email').val(),
                success: function(data){
                    if( data == '0' ){
                        alert("<?php echo $this->__("Email is not correct format"); ?>");
                    }else{
                        var html = "<p class='box box1 rounded'><?php echo $this->__('Here is your %s Discount Voucher', '35%'); ?><br/>"+ data +"</p>";
                        html += "<p class='box box2 rounded'><?php echo $this->__('We have already send it to your e-mail !'); ?></p>";
                        html += "<p class='box box3 rounded'><a href='<?php echo $this->getUrl(); ?>' style='color:#fff;'><?php echo $this->__('Please continue shopping. The voucher is already in your basket – Ready to apply'); ?></a></p>";
                        jQuery('.marketing10Wapper').html(html);
                    }
                }
            });        
        }   
    }
</script>