<?php
$this->init_action();
echo $this->getChildHtml('easyimportexport_steps')?>
<?php 
if($this->getError()){?>
<div id="easyimportexport_errors">
	<?php 
		echo $this->getError();
	?>
</div>
<?php }

$stepBlock=$this->getStepsBlock();
switch($stepBlock->getCurrentStep()){
	case 1:
?>
	<div class="info-tip"><span style="text-decoration:underline;">Informations : </span><ul><li>All fields and values are case sensitive. Example : "field1" is not equal to "Field1"</li><li>Decimal separator is ".". Example : "0.5"</li><li>Multiple values have to be separated by ",". Example : "value1,value2,value3"</li></ul></div>
	<div id="easyimportexport_actions" class="main-div">
		<form action="<?php echo $this->getUrl('*/*/index'); ?>" method="POST">
			<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
			<input type="hidden" name="step" value="2" />
			<label for="actionKey"><?php echo $this->__('Import type : ');?></label>
			<select name="actionKey" id="actionKey">
				<option value="" selected="selected"><?php echo $this->__('Choose your action...');?></option>
				<?php foreach($this->getAllActions() as $actionKey=>$actionLabel){
					echo '<option value="'.$actionKey.'">'.$actionLabel.'</option>';
				}?>
			</select><br/>
			<div id="additional_actions"></div>
			<input type="submit" value="<?php echo $this->__('Next step');?> >" onClick="return nextStep();" />
		</form>
		<script type="text/javascript">
		function nextStep(){
			if($jQuery('#actionKey').val()==''){
				alert('<?php echo $this->__('You have to choose an action.');?>');
				return false;
			} else {
				return true;
			}
		}
		$jQuery(document).ready(function(){
			$jQuery('#actionKey').change(function(){
				if($jQuery('#actionKey').val()==''){
					$jQuery('#additional_actions').html('');
				} else {
					$jQuery('#loading-mask').show();
					$jQuery.post('<?php echo $this->getUrl('*/*/getadditionalinfos');?>',
							{actionKey:$jQuery('#actionKey').val(),
							form_key:"<?php echo $this->getFormKey(); ?>"},
							function(data){
								$jQuery('#additional_actions').html(data);
								$jQuery('#loading-mask').hide();
							},
							null
					);
				}
			});
			<?php if(Mage::getSingleton('core/session')->hasActionkey()){?>
				$jQuery('#actionKey').val('<?php echo Mage::getSingleton('core/session')->getActionkey()?>');
				$jQuery('#actionKey').change();
			<?php }?>
		});
		</script>
	</div>
<?php
	break;
	
	case 2 :?>
		<?php $fileList=$this->getImportFilesList();?>
		<div id="easyimportexport_actions" class="main-div">
		<form action="<?php echo $this->getUrl('*/*/index'); ?>" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
			<input type="hidden" name="step" value="3" />
			<?php
				$file_to_select= str_replace(Mage::getBaseDir('var').DS.'import'.DS, '', Dh_Easyimportexport_Model_Action_Abstract::getParam('import_file'));
				if(!in_array($file_to_select, $fileList)){
					unset($file_to_select);
				}
			?>
			<label for="file_upload"><?php echo $this->__('Upload a file : ');?><input type="radio" id="existing_file_0" name="existing_file" value="0" <?php if(!$file_to_select){?>checked="checked"<?php }?> />&nbsp;&nbsp;</label><input type="file" id="file_upload" name="file_upload" />
			<?php if(count($fileList)){?><br/><?php echo $this->__('or');?><br/> <label for="file_choose"><?php echo $this->__('choose one existing : ');?><input type="radio" id="existing_file_1" name="existing_file" value="1" <?php if($file_to_select){?>checked="checked"<?php }?> />&nbsp;&nbsp;</label>
			<select id="file_choose" name="file_choose">
			<?php 
				foreach($fileList as $file){
					echo '<option value="'.$file.'" '.($file_to_select==$file ? 'selected="selected"':'').'>'.$file.'</option>';
				}
			?>
			</select><?php }?><br />
			<input type="submit" value="<?php echo $this->__('Next step');?> >" />
		</form>
		<script type="text/javascript">
			$jQuery(document).ready(function(){
				$jQuery('#file_choose').change(function(){
					$jQuery('#existing_file_1').attr('checked', true);
				});
				$jQuery('#file_upload').change(function(){
					$jQuery('#existing_file_0').attr('checked', true);
				});
			});
		</script>
		</div>
	<?php break;
	
	case 3 :
		?>
		<div class="info-tip"><span style="text-decoration:underline;">Informations : </span><br/><ul><li><span style="color:red;">Error</span> => row will be skipped</li><li><span style="color:#FF7B00;">Warning</span> => field will be skipped</li></ul></div>
		<div id="easyimportexport_validation_result" class="main-div" style="border-color:green">
			<p><?php echo $this->__('Running validation...');?>&nbsp;<img src="<?php echo $this->getSkinUrl('images/rule-ajax-loader.gif');?>" alt="Processing..." id="valid_ajax_loader"/></p>
			<div id="progressBlock">Treated lines : <span id="progressValue">0</span></div>
			<form action="<?php echo $this->getUrl('*/*/index'); ?>" method="POST" id="reDo">
				<!-- <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
				<input type="hidden" name="re_do" value="1" />
				<input type="hidden" name="step" value="3" />
				<input type="submit" value="<?php echo $this->__('Re-try with quickfixed values');?>" id="reDoButton" style="display:none;" /> -->
			</form><!-- <br /> -->
			<form action="<?php echo $this->getUrl('*/*/index'); ?>" method="POST" id="buttonBack">
				<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
				<input type="hidden" name="go_back" value="1" />
				<input type="hidden" name="step" value="2" />
				<input type="submit" value="< <?php echo $this->__('Go back');?>" />
			</form>
			<form action="<?php echo $this->getUrl('*/*/index'); ?>" method="POST" id="buttonNext" style="display:none;">
				<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
				<input type="hidden" name="step" value="4" />
				<input type="submit" value="<?php echo $this->__('Next step');?> >" />
			</form>
		</div>
		<script type="text/javascript">
		var nbErrors=0;
		var hasWarnings=false;
		var canRedo=false;
		var nbSuccess=0;
		$jQuery(document).ajaxError(function(){
			$jQuery('#valid_ajax_loader').remove();
			$jQuery('#easyimportexport_validation_result').css('border-color', 'red');
			$jQuery('<div id="finalResult">Final result : <p class="error"><?php echo $this->__('Validation can\\\'t run ! Ajax error (please check your connexion and reload the page)');?></p></div>').insertBefore($jQuery('#reDo'));
		});
		function validate(nb){
			$jQuery.post('<?php echo $this->getUrl('*/*/validate');?>',
					{lineNb:nb,
					form_key:"<?php echo $this->getFormKey(); ?>"<?php if(Mage::app()->getRequest()->getParam('re_do')){ echo ', re_do:1';}?>},
					function(data){
						if(data.status=="0"){
							$jQuery('#valid_ajax_loader').remove();
							if(nbErrors<(nb-2)){
								$jQuery('<div id="finalResult">Final result : <p class="success"><?php echo $this->__('Validation complete !');?> '+nbSuccess+'/'+(nbSuccess+nbErrors)+' rows can be imported.</p></div>').insertBefore($jQuery('#reDo'));
								$jQuery('#buttonNext').show();
								if(nbErrors || hasWarnings){
									$jQuery('#buttonNext').click(function(){ return confirm('<?php echo $this->__('Validation generated some errors/warnings, that means some rows/fields will be ignored during the import.\nAre you sure you want to continue ?');?>');});
								}
							} else {
								$jQuery('<div id="finalResult">Final result : <p class="error"><?php echo $this->__('Validation failed !');?> 0 rows have been validated.</p></div>').insertBefore($jQuery('#reDo'));
							}
							if(nbErrors>0 || hasWarnings){
								if(canRedo){
									$jQuery('#reDoButton').show();
								}
								$jQuery('<p><a href="'+data.log_file+'" target="_blank"><?php echo $this->__('Log file');?></a></p>').insertBefore($jQuery('#reDo'));
							}
						} else {
							if(data.status=="-2"){
								$jQuery('#valid_ajax_loader').remove();
								$jQuery('#easyimportexport_validation_result').css('border-color', 'red');
								$jQuery(data.messages).insertBefore($jQuery('#reDo'));
								$jQuery('<div id="finalResult">Final result : <p class="error"><?php echo $this->__('Validation can\\\'t run !');?></p></div>').insertBefore($jQuery('#reDo'));
							} else {
								$jQuery('#progressValue').html(nb-1);
								if(data.status=="-1"){
									$jQuery('#easyimportexport_validation_result').css('border-color', 'red');
									nbErrors++;
								} else if(data.status=="-3"){
									hasWarnings=true;
									nbSuccess++;
									if(nbErrors==0){
										$jQuery('#easyimportexport_validation_result').css('border-color', 'darkOrange');
									}
								} else {
									nbSuccess++;
								}
								if(data.messages){
									$jQuery('<div class="">Line '+nb+' : '+data.messages+'</div>').insertBefore($jQuery('#reDo'));
								}
								if(data.status!="1"){
									if(data.quick_fix){
										canRedo=true;
										$jQuery(data.quick_fix).insertBefore($jQuery('#reDo'));
									}
								}
								validate(nb+1);
							}
						}
					},
					'json'
			);
		}
		$jQuery(document).ready(function(){
			$jQuery('#progressBar').progressbar();
			validate(2);
		});
		</script>
		<?php
	break;
	
	case 4 :
		echo '<div id="easyimportexport_summary" class="main-div"><p>'.$this->getCurrentAction()->getSummary().'</p>';?>
		<?php $datas=$this->getCurrentAction()->getImportDatas(); ?>
		<div style="width:100%;overflow:auto;"><table id="summary_table">
		<caption><?php echo $this->__('Raw data which will be imported : ');?></caption>
		<tr>
		<th>line</th>
		<?php
		$fields=array(); 
		foreach($datas as $rowDatas){
			$fields=array_unique(array_merge($fields, array_keys($rowDatas)));
		}?>
		<?php foreach($fields as $code) { echo '<th>'.$code.'</th>';}?>
		</tr>
		<?php foreach($datas as $line=>$linedatas){
			echo '<tr><th>'.($line+2).'</th>';
			foreach ($fields as $code){
				if(isset($linedatas[$code])){
					$value=$linedatas[$code];
					if(is_array($value)){
						echo '<td><pre>';
							print_r($value);
						echo '</pre></td>';
					} else {
						echo '<td>'.htmlentities($value).'</td>';
					}
				} else {
					echo '<td style="background-color:darkgrey;"></td>';
				}
			}
			echo '</tr>';
		}?>
		</table></div>
		<form action="<?php echo $this->getUrl('*/*/index'); ?>" method="POST">
			<input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>" />
			<input type="hidden" name="step" value="5" />
			<input type="submit" value="<?php echo $this->__('Run !');?> >" />
		</form>
		<?php
		echo '</div>';
	break;
	
	case 5 :?>
		<div id="easyimportexport_runimport" class="main-div">
		<p><?php echo $this->__('Running import... (don\'t close the window until it ends)');?>&nbsp;<img src="<?php echo $this->getSkinUrl('images/rule-ajax-loader.gif');?>" alt="Processing..." id="valid_ajax_loader"/></p>
		<div id="progressBar"><div id="progressbarvalue">0/<?php echo Mage::getSingleton('core/session')->getNbimportdatas();?></div></div>
		</div>
		<script type="text/javascript">
		var nbSuccess=0;
		$jQuery(document).ajaxError(function(){
			$jQuery('#valid_ajax_loader').remove();
			$jQuery('<p><?php echo $this->__('Import can\\\'t run ! Ajax error (please check your connexion and retry)');?></p>').appendTo($jQuery('#easyimportexport_runimport'));
		});
		function runImport(nb){
			$jQuery.post('<?php echo $this->getUrl('*/*/run');?>',
					{lineNb:nb,
					form_key:"<?php echo $this->getFormKey(); ?>"},
					function(data){
						$jQuery('#progressbarvalue').html((nb+1)+'/<?php echo Mage::getSingleton('core/session')->getNbimportdatas();?>');
						$jQuery('#progressBar').progressbar('value', ((nb+1)/<?php echo Mage::getSingleton('core/session')->getNbimportdatas();?>)*100);
						if(data=="1"){
							nbSuccess++;
						} else {
							$jQuery(data).appendTo($jQuery('#easyimportexport_runimport'));
						}
						if((nb+1)<<?php echo Mage::getSingleton('core/session')->getNbimportdatas();?>){
							runImport(nb+1);
						} else {
							$jQuery('#valid_ajax_loader').remove();
							$jQuery('<p><?php echo $this->__('Import complete !');?> '+nbSuccess+'/<?php echo Mage::getSingleton('core/session')->getNbimportdatas();?> <?php echo $this->__('rows successfully imported.');?></p>').appendTo($jQuery('#easyimportexport_runimport'));
							if(nbSuccess<<?php echo Mage::getSingleton('core/session')->getNbimportdatas();?>){
								$jQuery('<p><a target="_blank" href="/<?php echo $this->getCurrentAction()->getLogFilename();?>"><?php echo $this->__('Log file');?></a></p>').appendTo($jQuery('#easyimportexport_runimport'));
							}
							alert('<?php echo $this->__('Import complete !');?>');
						}
					},
					null
			);
		}
		$jQuery(document).ready(function(){
			$jQuery('#progressBar').progressbar();
			runImport(0);
		});
		</script>
		<?php 
	break;
}
?>