<div id="easyimportexport_steps">
<?php 
$stepLabels=$this->getStepLabels();
$i=1;
$total=count($stepLabels);
foreach($stepLabels as $id=>$label){
	if($id<$this->getCurrentStep()){
		echo '<form action="'.$this->getUrl('*/*/index').'" method="POST"><input type="hidden" value="'.$id.'" name="step"/>';
	}
	$class = 'easyimportexport_step '.($id<$this->getCurrentStep() ? 'done' : ($id==$this->getCurrentStep() ? 'current' : 'future'));
	echo '<input type="submit" value="'.$id.' : '.$label.'" class="'.$class.($i==$total ? ' last':'').'" />';
	if($id<$this->getCurrentStep()){
		echo '<input type="hidden" name="go_back" value="1" />';
		echo '<input type="hidden" name="form_key" value="'.$this->getFormKey().'" />';
		echo '</form>';
	}
	$i++;
}
?>
</div>