<h1><?php echo $this->__('Your stamp'); ?></h1>

<?php
    if( $this->seal == 0 ){
        require ('require/other_confirm.phtml');
    }else{
        require ('require/seal_confirm.phtml');
    }
?>

<script type="text/javascript">
    function checkEnter(e){
        if (e.keyCode == 13){
            e.preventDefault();
        }   
    }
</script>