<?php
	$isSeal = false;
	$isTextplate = false;
	$_product = $this->getProduct();
    $addtext = $this->getRequest()->getParam('addtext');
    
    $_textplate = $this->getTextplate();
   
  	if($this->helper('text2image')->productSetType($_product->getAttributeSetId()) == 'seal'){
  		$isSeal = true;
  	}elseif($this->helper('text2image')->productSetType($_product->getAttributeSetId()) == 'textplate'){
  		$isTextplate = true;
  	}
  	
  	if( $addtext )
  	    echo $this->getChildHtml('addtext.menu');
?>
<?php  echo $this->getChildHtml('textplate.init'); ?>
    <div class="col-sm-5 col-md-3">
       <?php  echo $this->getChildHtml('textplate.left'); ?>       
        <div class="clear"></div>
    </div>
    <div class="col-sm-7 col-md-5">
        <?php  echo $this->getChildHtml('textplate.preview'); ?>
    </div>
    <div class="col-sm-4 hide-responsive">
        <?php  echo $this->getChildHtml('textplate.support'); ?>
    </div>
    <div class="clear"></div>
    <?php  echo $this->getChildHtml('textplate.editor'); ?>
    <div class="opdNextStep">
    <a class="opdConfirm rounded submitButton" style="margin-top: 10px;" href="javascript:void(0)"><?php echo $this->__('Order this stamp and design')?></a>
    <div class="clear"></div>
    </div>