<div class="editer-wrap">
    <p class="floatleft"><?php echo $this->__('Image/PDF and formatting')?></p>
    <div class="uploads-wrap">
        <div class="fileUpload btn btn-primary">
            <form action="<?php echo Mage::getBaseUrl(); ?>text2image/ajax/upload?textplate_id=<?php echo Mage::registry('current_textplate')->getId(); ?>" method="post" enctype="multipart/form-data" class="frm_upload">
                <span class="imgupload"><?php echo $this->__('Upload image'); ?></span>
                <input type="file" name="uploadfile" accept="image/*" class="upload">
            </form>    
        </div>
        <div class="fileUpload btn btn-primary">
            <form action="<?php echo Mage::getBaseUrl(); ?>text2image/ajax/upload?textplate_id=<?php echo Mage::registry('current_textplate')->getId(); ?>" method="post" enctype="multipart/form-data" class="frm_upload">   
                <span class="text"><?php echo $this->__('Upload PDF'); ?></span>
                <input type="file" name="uploadfile" accept="pdf/*" class="upload">
            </form>   
        </div>
    </div>
    <div class="clear"></div>
    <div id="imageToolsCover">
    </div>
    <div class="clear"></div>
</div>