<?php
$data = $this->getTextplateData();
$temp =  $this->helper('text2image')->getAvailableSize();
$lineLimit = $this->getTextplate()->getTextplateLineLimit();
?>
<div id="textplate_main_list" >
<ul>
    <?php
        $size = $temp[$this->getTextplate()->getTextplateSize()];
        $size = explode('x',$size);
        $dimension['w'] = $size[0];
        $dimension['h'] = $size[1];
        $dimension['max'] = $lineLimit == null ? 'unlimited' : $lineLimit ;
    ?>
    <li>
        <a href="javascript:void(0)" 
            shape="<?php echo $this->getTextplateShap(); ?>" 
            product=<?php echo $this->getProduct()->getId();?> 
            data='<?php echo $data;?>'
            seal="0" 
            size=<?php echo json_encode($dimension) ?> 
            class="textplate" 
            id="<?php echo $this->getTextplate()->getId(); ?>">
            <?php echo $this->getTextplate()->getName();?>
        </a>
    </li>
</ul>
</div>
