<?php 
$_productTextplate = $this->getTextplate();
$temp              = $this->helper('text2image')->getAvailableSize();
?>
<div class="box_choose_title"><?=$this->__("Choose another Textplate")?></div>
<div id="textplate_main_list" >
<ul>
    <?php
        $size = $temp[$_productTextplate['textplate_size']];
        $size = explode('x',$size);
        $dimension['w'] = $size[0];
        $dimension['h'] = $size[1];
        $dimension['max'] = $_productTextplate['textplage_line_limit'];
    ?>
    <li>
        <a href="javascript:void(0)" 
            shape="<?php echo $this->getTextplateShap(); ?>" 
            product=<?php echo $this->getProduct()->getId();?>
            data='' 
            title="(<?php  echo $temp[$_productTextplate->getData('textplate_size')]?> mm)" 
            seal="1" 
            size=<?php echo json_encode($dimension) ?> 
            class="textplate" 
            id="<?php echo $_productTextplate->getId() ?>">
            <?php echo $_productTextplate->getName();?>
        </a>
    </li>
</ul>
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        // init
        jQuery('#textplate_id').val( jQuery('a.textplate:first').attr('id') );
        
        // click event
        jQuery('a.textplate').click(function(){
             jQuery('#textplate_id').val( jQuery(this).attr('id') );
        });
    });
</script>