<?php
    $_current_category = Mage::registry('current_category');
    $products = $this->getProducts($_current_category);
?>
<div class="top_silde"></div>
<div class="min_silde">
<h1 class="main"><?php echo $_current_category->getName(); ?></h1>
<div class="main_productstamp">
    <div class="findthestamp" style="padding: 10px;">

        <?php include_once('menu.phtml'); ?>
        
        <?php $colCount = ceil(count($products)/2); ?>
        <?php $count = 1; ?>
        <?php foreach( $products as $product ): ?>  
        <?php if( $count==1 ): ?>
            <div class="alpo_height" style="width: 350px; margin: 0;">
                <ul>   
        <?php endif; ?>
                <li>
                    <a href="<?php echo $this->getUrl('text2image'). $product->getId() .'.0.'. $product->getUrlPath(); ?>" class="radio">
                        <?php echo $product->getName(); ?>
                    </a>
                    <p class="tooltip_179_51"><?php echo $this->__('Price'); ?>: <?php echo Mage::helper('core')->currency($product->getPrice()); ?></p>
                </li>
        <?php if( $count==$colCount ): ?> 
                </ul>
            </div>            
            <?php $count = 1; ?>
        <?php else: ?>
            <?php $count++; ?>    
        <?php endif; ?>       
        
        <?php endforeach; ?>
    </div>
</div>
</div>
<div class="bottom_silde"></div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        // Show price
        jQuery('.alpo_height > ul > li').hover(function() {
            jQuery(this)
            .find('.tooltip_179_51')
            .show()
            .stop()
            .animate({opacity: 1}, 'fast');
        }, function() {
            jQuery(this)
            .find('.tooltip_179_51')            
            .hide()
            .stop()
            .animate({opacity: 0}, 'fast');
        });
    });
</script>