<?php 
    $cateogry_name = $_current_category->getName(); 
    $textplateCat  = Mage::getModel('catalog/category')->load(TEXTPLATE_CATEGORY_ID);
    $childrenCats  = $textplateCat->getChildren();
    $catUrl = array();
    foreach(explode(',',$childrenCats) as $subCatid)
    {
        $_category = Mage::getModel('catalog/category')->load($subCatid);
        if($_category->getIsActive())
        {
            $catUrl[] = $_category->getURL();
        }
    }
    
    // Detect US site
    $siteId = Mage::app()->getWebsite()->getId();
    
?>

<div class="stamplogo_product">
    <a class="logotrodat_inkpads<?php if(strtolower($cateogry_name)=='trodat' || strtolower($cateogry_name)=='text-plate') echo '_active'; ?>" href="<?php echo $catUrl[1]; ?>"></a>
    <?php if($siteId != 8): ?>
        <a class="logostamp_inkpads<?php if(strtolower($cateogry_name)=='alpo') echo '_active'; ?>" href="<?php echo $catUrl[0]; ?>"></a>
    <?php endif; ?>
    <a class="logocolop_inkpads<?php if(strtolower($cateogry_name)=='colop') echo '_active'; ?>" href="<?php echo $catUrl[2]; ?>"></a>
    <a class="logotag_inkpads<?php if(strtolower($cateogry_name)=='tag your kid') echo '_active'; ?>" href="<?php echo $catUrl[3]; ?>"></a>
</div>    