<?php if (strtolower($this->getTextplateShap()) == 'circle' || strtolower($this->getTextplateShap()) == 'oval'): ?>
    <div class="editer-wrap edit-special">
        <p><?php echo $this->__('Upper arch'); ?></p>
        <div class="text_design_oval" style="clear:both;">
            <div class="textColumn"><input type="text" id="texttop" name="texttop" onclick="this.select()" onchange="textChange(this, 'top')" value="Your Company" tabindex="1"></div>
            <div class="applyfontstamp"><?php echo $this->getFontSelect("fonttop", "top") ?></div>
            <div class="applyColumn fontsizeColmn"><?php echo $this->getSizeSelect("sizetop", "top") ?></div>
            <div class="styleColumn">
                <span class="fa fa-bold active"><input type="checkbox" id="bold0" name="data[bold][]" onclick="styleChange(this, 'bold', 'top')"></span>
                <span class="fa fa-italic"><input type="checkbox" id="italic0" name="data[italic][]" onclick="styleChange(this, 'italic', 'top')"></span>
                <span class="fa fa-underline"><input type="checkbox" id="underline0" name="data[underline][]" onclick="styleChange(this, 'underline', 'top')"></span>
            </div>
            <div class="distance2ChHeader">
                <input type="number" class="distance2Ch" id="distance2LiOvaltop" value="0" name="distance2LiOval" onchange="changeTexboxValue(this.value, 'hidden_left_top')"><span class="cover"><span class="asc" onclick="plus_minus(this.parentNode.parentNode.getElementsByTagName('input')[0], '+', 1, 200, -200);" onmousedown="changeBGPosition(this, 'down');" onmouseup="changeBGPosition(this, 'up');" style="background-position: 40% 50%;"></span><span class="desc" onclick="plus_minus(this.parentNode.parentNode.getElementsByTagName('input')[0], '-', 1, 200, -200);" onmousedown="changeBGPosition(this, 'down');" onmouseup="changeBGPosition(this, 'up');" style="background-position: 40% 30%;"></span></span>
            </div>
            <div class="degrees">
                <span><?php echo $this->__('Degrees'); ?></span>
            </div>
            <div class="reverse">
                <input type="checkbox" id="reversetop" name="reversetop" onclick="reserveText(this, 'top')">
                <span><?php echo $this->__('Reverse'); ?></span>
            </div>
        </div>
        <p><?php echo $this->__('Lower arch'); ?></p>
        <div class="text_design_oval" style="clear:both;">
            <div class="textColumn"><input type="text" id="textbottom" name="textbottom" onclick="this.select()" onchange="textChange(this, 'bottom')" value="Your address" tabindex="1"></div>
            <div class="applyfontstamp"><?php echo $this->getFontSelect("fontbottom", "bottom") ?></div>
            <div class="applyColumn fontsizeColmn"><?php echo $this->getSizeSelect("sizebottom", "bottom") ?></div>
            <div class="styleColumn">
                <span class="fa fa-bold active"><input type="checkbox" id="bold0" name="data[bold][]" onclick="styleChange(this, 'bold', 'bottom')"></span>
                <span class="fa fa-italic"><input type="checkbox" id="italic0" name="data[italic][]" onclick="styleChange(this, 'italic', 'bottom')"></span>
                <span class="fa fa-underline"><input type="checkbox" id="underline0" name="data[underline][]" onclick="styleChange(this, 'underline', 'bottom')"></span></div>
            <div class="distance2ChHeader"><input type="number" class="distance2Ch" id="distance2LiOvalbottom" value="0" name="distance2ChOval" onchange="changeTexboxValue(this.value, 'hidden_left_bottom')"><span class="cover"><span class="asc" onclick="plus_minus(this.parentNode.parentNode.getElementsByTagName('input')[0], '+', 1, 200, -200);" onmousedown="changeBGPosition(this, 'down');" onmouseup="changeBGPosition(this, 'up');" style="background-position: 40% 50%;"></span><span class="desc" onclick="plus_minus(this.parentNode.parentNode.getElementsByTagName('input')[0], '-', 1, 200, -200);" onmousedown="changeBGPosition(this, 'down');" onmouseup="changeBGPosition(this, 'up');" style="background-position: 40% 30%;"></span></span><span><?php $this->__('Degrees'); ?></span></div>
           <div class="degrees">
                <span><?php echo $this->__('Degrees'); ?></span>
            </div>
           <div class="reverse">
                <input type="checkbox"  id="reversebottom" name="reversebottom" onclick="reserveText(this, 'bottom')" >
                <span><?php echo $this->__('Reverse'); ?></span>
            </div>
        </div>
        <div class="clear"></div>
    </div>    

<?php endif ?>
<div class="editer-wrap">
    <div class="editer-wrap-title">
        <p class="floatleft">Text and formatting</p>
    <button class="addline floatright new_line">+ <?php echo $this->__('Add new line')?></button>
    </div>
    
    <div class="clear"></div>
    <div class="tit-editer">
        <div class="textColumn textColhead">Text content</div>
        <div class="applyfontstamp">
            <select name="font_main" id="font_main" class="" title="Font for line font_main">
                <?php foreach ($this->helper('text2image')->getFontList() as $font_key => $font_item): ?>
                    <option value="<?php echo $font_key ?>"><?php echo $font_item ?></option>
                <?php endforeach; ?> 
            </select>
        </div>
        <div class="applyColumn">
            <input type="checkbox" id="apply_font"><label for="">Apply</label>
        </div>
        <div class="styleColumn">Style</div>
        <div class="distance2ChHeader"><i class="fa fa-arrows-h"></i></div>
        <div class="distance2LiHeader"><i class="fa fa-arrows-v"></i></div>
        <div class="alginmentheader">
            <a href="javascript:void(0)" class="leftalign" id="leftalign"><i class="fa fa-align-left"></i></a>
            <a href="javascript:void(0)" class="centeralign" id="centeralign"><i class="fa fa-align-center"></i></a>
            <a href="javascript:void(0)" class="rightalign" id="rightalign"><i class="fa fa-align-right"></i></a>
        </div>
        <div class="clear"></div>
    </div>
    <!-- end title editer -->
    <div id="text-design">

    </div>
</div>