<?php
/**
 * @category    DBIZ
 * @package     DBIZ Stamp Home Products
 * @author      Domagoj Potkoc, Inchoo Team <web@inchoo.net>
 * @modified    Tan Pham
 */
?>
<?php
$image_size = (int) Mage::getStoreConfig("stamphomeproducts/cmspage/max_image_dimension");
$_itemCount = $this->getProductCollection()->count();
$i = 0;
$row = 0;
?>
<?php if (!empty($_itemCount)): ?>
	<div id="home_products" class="product-in-mobile"> 
		<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
			<?php foreach ($_products->getItems() as $_product): ?>
				<?php
				$categoryIds = $_product->getCategoryIds();
				$categoryName = '';
				if (isset($categoryIds[0])) {
					$category = Mage::getModel('catalog/category')->setStoreId(Mage::app()->getStore()->getId())->load($categoryIds[0]);
					$categoryName = $category->getName();
					$categoryImg = $category->getImageUrl();
					$categoryUrl = Mage::getBaseUrl(). $category->getUrlPath();
					$categoryDecs = $this->helper('core/string')->truncate($category->getDescription(),80);
				}
				?>
				<?php if ($i == 0): ?>
					<?php $row++; ?>
					<div class="grid <?php echo (($row % 2) > 0) ? 'odd' : 'even' ?>">
					<?php endif; ?>  
					<div class="col-sm-4 col-md-3">
						<div class="item-prd">
							<div class="item-img">
								<a href="<?php echo $categoryUrl ?>" title="<?php echo $this->htmlEscape($categoryName) ?>">
									<?php if (!empty($categoryImg)): ?>
										<img src="<?php echo $categoryImg ?>" alt="<?php echo $this->htmlEscape($categoryName) ?>"/>
									<?php else: ?>
										<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image') ?>" alt="<?php echo $this->htmlEscape($categoryName) ?>" />
									<?php endif; ?>
								</a>
							</div>
							<div class="desc-prd">
								<div class="desc-tt">
									<a href="<?php echo $categoryUrl ?>" title="<?php echo $this->htmlEscape($categoryName) ?>">
										<?php echo $this->htmlEscape($categoryName) ?>
									</a>
								</div>
								<div class="decs-info">
									<?php echo $this->htmlEscape($categoryDecs) ?>
								</div>
							</div>
						</div>
					</div>
					<?php $i++; ?>
					<?php if ($i == $this->getItemsPerRow()): ?>
						<?php $i = 0; ?>
					</div>
				<?php endif; ?>
			<?php endforeach; ?>
		<?php endif; ?>
	</div>
	<div class="clearfix"></div>
<?php endif; ?>

