
<?php
$image_size = (int) Mage::getStoreConfig("cateextend/general/max_image_dimension");
$_categories = $this->getCategoryShowInHomepage();
$i = 0;
$row = 0;

?>
<?php if (!$_categories instanceof Exception): ?>
    <div id="home_products" class="product-in-mobile"> 

        <?php foreach ($_categories['data'] as $_category): ?>
            <?php
            $categoryName = $_category->getName();
            $categoryImg = $_category->getImageUrl();
            $categoryUrl = $_category->getUrl($_category);
            $categoryDecs = $this->helper('core/string')->truncate($_category->getDescription(), 80);
            ?>
            <?php if ($i == 0): ?>
                    <?php $row++; ?>
                <div class="grid <?php echo (($row % 2) > 0) ? 'odd' : 'even' ?>">
        <?php endif; ?>  
                <div class="col-sm-4 col-md-3">
                    <div class="item-prd">
                        <div class="item-img">
                            <a href="<?php echo $categoryUrl ?>" title="<?php echo $this->htmlEscape($categoryName) ?>">
                                <?php if (!empty($categoryImg)): ?>
                                    <img src="<?php echo $categoryImg ?>" alt="<?php echo $this->htmlEscape($categoryName) ?>"/>
                                <?php else: ?>
                                    <img src="<?php echo Mage::getSingleton('catalog/product_media_config')->getBaseMediaUrl() . '/placeholder/' . Mage::getStoreConfig("catalog/placeholder/small_image_placeholder"); ?>" alt="<?php echo $this->htmlEscape($categoryName) ?>" />
        <?php endif; ?>
                            </a>
                        </div>
                        <div class="desc-prd">
                            <div class="desc-tt">
                                <a href="<?php echo $categoryUrl ?>" title="<?php echo $this->htmlEscape($categoryName) ?>">
        <?php echo $this->htmlEscape($categoryName); ?>
                                </a>
                            </div>
                            <div class="decs-info">
        <?php echo $this->htmlEscape($categoryDecs) ?>
                            </div>
                        </div>
                    </div>
                </div>
                <?php $i++; ?>
                <?php if ($i == $this->getItemsPerRow()): ?>
                <?php $i = 0; ?>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    <?php else: ?>
        <div><?php echo $this->__('System has been upgrade ...') ?></div>
<?php endif; ?>
</div>
<div class="clearfix"></div>


