<style>
    ul.stockstamp_color_box{background-color: #fff; border: 1px solid #DCDCDC; border-radius: 4px; -moz-border-radius: 4px; solid; -webkit-border-radius: 4px; padding: 10px 0; position: absolute; top: 30px; display: none;}
    ul.stockstamp_color_box li{list-style: none; display: inline-block; margin: 0 5px;}
    ul.stockstamp_color_box li span.color{width: 24px; height: 24px; cursor: pointer; display: inline-block;}
    ul.stockstamp_color_box li span.stockstamp_radio input[type='radio']{top:0;}
</style>
<script>
    jQuery(document).ready(function() {
        jQuery('.newstockstamp-item').hover(function() {
            jQuery(this)
                .find('.stockstamp_color_box')
                .show()
                .stop()
                .animate({opacity: 1}, 'fast');
        }, function() {
            jQuery(this)
                .find('.stockstamp_color_box')
                .hide()
                .stop()
                .animate({opacity: 0}, 'fast');
        });

        jQuery('.stockstamp_radio > input').click(function() {
            var addtocartUrl = jQuery(this).next('a').attr('href');
            window.location.href = addtocartUrl;
        });
    });
</script>
<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magento.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magento.com for more information.
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2006-2014 X.commerce, Inc. (http://www.magento.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 */
?>
<?php 
$_productCollection = $this->getLoadedProductCollection();
$_helper = $this->helper('catalog/output');
?>
<?php if (!$_productCollection->count()): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
	<div class="product-in-mobile">
		<div class="catagories-prd">
			<?php // Grid Mode ?>

			<?php $_collectionSize = $_productCollection->count() ?>
			<?php $_columnCount = $this->getColumnCount(); ?>
			<?php
			$i = 0;
			foreach ($_productCollection as $_product) {
				switch ($_product->getTypeID()) {
					case 'simple':
						require 'type/simple.phtml';
						break;
					case 'bundle':
						require 'type/bundle.phtml';
						break;
					case 'configurable':
						require 'type/configurable.phtml';
						break;
					default:
						require 'type/simple.phtml';
						break;
				}
//				if ($_product->getTypeId() == 'simple') {
//					$action = $this->getAddToCartUrl($_product);
//				} else {
//					$action = $this->getUrl('text2image') . $_product->getId() . '.0.' . $_product->getUrlKey() . '.html';
//				}
			}
			?>
			<script type="text/javascript">decorateGeneric($$('div.products-grid'), ['odd', 'even', 'first', 'last'])</script>
		</div>
		<div class="clear"></div>
		<div class="toolbar-bottom">
			<?php echo $this->getToolbarHtml() ?>
		</div>
	</div>
<?php endif; ?>
