/*Write by Tran Thai Quyen*/
@font-face {
  font-family: 'honghahepregular';
  src: url("fonts/uvnhonghahep_r-webfont.eot");
  src: url("fonts/uvnhonghahep_r-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/uvnhonghahep_r-webfont.woff") format("woff"), url("fonts/uvnhonghahep_r-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #868686; }
  a:hover {
    opacity: .8;
    text-decoration: none; }

img {
  max-width: 100%; }

body {
  font-family: 'Gadugi', sans-serif;
  font-weight: normal;
  color: #444444;
  padding: 0;
  margin: 0;
  background: #445b70; }

.center {
  text-align: center; }

.clear {
  clear: both;
  float: none;
  clear: both; }

.clearfix {
  width: 100%;
  clear: both; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.imgleft {
  float: left;
  margin-right: 15px; }

.imgright {
  float: right;
  margin-left: 15px; }

.nopad-right {
  padding-right: 0 !important; }

.nopad-left {
  padding-left: 0 !important; }

.nopad {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.italic {
  font-style: italic; }

.relative {
  position: relative; }

.redcolor {
  color: #ff0000; }

.redcolor2 {
  color: #e2002b; }

.block {
  display: block; }

.padding {
  padding: 10px 15px; }

.hide {
  display: none; }

.fz0 {
  font-size: 0; }
.zoomFirst {
    background-image: url("../images/text2image/zoom.png");
    background-position: 0 50%;
    background-repeat: repeat-x;
    display: inline-block;
    height: 30px;
    margin-left: 5px; 
    width: 100px;}  
/*HEADER*/
header {
  position: relative;
  z-index: 999; }

.top-head {
  height: 50px;
  background: #252525;
  text-align: center; }

.btn-mobi-top {
  background: #2b3e50;
  color: #fff;
  padding: 4px 15px;
  border: none;
  display: none; }

.top-nav {
  background: #e3e3e3;
  height: 28px;
  color: #777;
  text-align: center; }
  .top-nav ul {
    display: inline-block; }
    .top-nav ul li {
      list-style: none;
      display: inline-block;
      line-height: 28px; }
      .top-nav ul li:before {
        content: "|";
        width: 10px;
        display: inline-block;
        height: 10px;
        margin-right: 6px; }
      .top-nav ul li:first-child:before {
        content: "";
        width: 0;
        height: 0; }
  .top-nav .account-wrap {
    float: right; }

.main-head {
  background: #fff;
  min-height: 112px; }

.main-nav {
  width: 195px; }
  .main-nav button {
    background: #203b54 url(images/menu.png) no-repeat 9px center;
    border: none;
    line-height: 32px;
    color: #fff;
    font-size: 17px;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 45px;
    outline: none; }

.nav-main {
  background: #fdfdfd;
  padding: 10px 15px;
  position: absolute;
  display: none;
  width: 195px; }
  .nav-main li {
    display: block;
    list-style: none;
    padding: 0px 0;
    line-height:28px; 
    font-size: 13px; }
  .nav-main li ul{padding: 0;}
  .nav-main li ul li{position: relative;padding: 0;}
  .nav-main li ul li:before{content: '';width: 6px;height: 6px;border-radius: 50px;display: block;background: #445b70;position: absolute;left: 7px;top: 12px;}
  .nav-main li ul li:last-child{border-bottom: none;}
  .nav-main li ul li a{padding-left: 20px;}
.search-wrap{padding: 0;}

.delivery-wrap {
  padding-top: 25px;
  color: #a7a7a7; }

.delivery-wrap:after{content: '';width: 100%;display: block;clear: both;}

.delivery {
  background: url(images/clock.png) no-repeat left center;
  font-family:'honghahepregular',arial,sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 30px;
  float: left;
  margin: 0 20px 0 0px; }

.free-shipping {
  background: url(images/car.png) no-repeat left center;
  font-family:'honghahepregular',arial,sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 30px;
  /*float: left;*/
  margin: 0px 20px 0 0;
  min-height: 20px; }

.delivery-time {
  background: url(images/money.png) no-repeat left center;
  font-family:'honghahepregular',arial,sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  padding:4px 0 0 30px;
  /*float: left;*/
  margin: 4px 0px 0 0;
  height: 26px;}

.inputgroup {
  border: 1px solid #e5e5e5;
  padding: 2px;
  border-radius: 2px;
  margin-top: 8px; }
  .inputgroup input[type='text'] {
    width: 60%;
    float: left;
    border: none; }
  .inputgroup select {
    width: 30%;
    float: left;
    min-height: 26px;
    border: none; }
  .inputgroup .submit-wrap {
    width: 10%;
    border-left: 1px solid #e5e5e5;
    padding-left: 8px;
    display: block;
    float: right;
    position: relative;
    height: 25px; }
    .inputgroup .submit-wrap input {
      width: 100%;
      background: url(images/iconsearch.png) no-repeat center center;
      font-size: 0;
      height: 25px;
      border: none; }
      .inputgroup .submit-wrap input:hover {
        opacity: .8; }
  .inputgroup input:focus, .inputgroup select:focus {
    outline: none; }

.hotline-wrap {
  padding-top: 12px; }

.hotline {
  background: url(images/tel.png) no-repeat right center;
  padding-right: 40px;
  text-align: right; }

.cart-wrap {
  text-align: center;
  margin: 20px 15px 0 0;
  position: relative; }
  .cart-wrap .iconcart {
    background: url(images/cart.png) no-repeat left center;
    min-height: 33px;
    vertical-align: middle;
    float: right;
    padding: 5px 0 0 45px; }
  .cart-wrap .details.rounded {
    border: 1px solid #dddddd;
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    top: 39px;
    right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: white;
    display: none; }
    .cart-wrap .details.rounded p {
      margin: 0; }
    .cart-wrap .details.rounded i {
      position: absolute;
      top: -7px;
      color: #ddd; }

.slide-home {
  width: 100%;
  display: block;
  clear: both;
  z-index: 9; }

.sl-wrap {
  position: relative;
  height: 423px;
  width: 100%;
  display: block;
  z-index: 9; }

#questions{margin: 0;padding: 0;}
#questions li.item{list-style: none;}
#questions li.item a i{padding-right: 5px;}
#questions li.item .tooltip{border-radius: 4px; box-shadow: 0 0 15px 3px #999; padding: 15px; background: #fff;margin-top: 5px;left: 0;display: none;}
#questions li.item .tooltip:before{content: ""; width: 0; height: 0; position: absolute; left: 60px; top: -8px;border-width: 0px 8px 8px 8px; border-style: solid; border-color: #fff transparent;
}
#questions li.item .tooltip .content{padding: 0px 0;}

.at-slider {
  position: relative;
  width: 100%;
  height: 423px;
  display: block;
  overflow: hidden; }

.slider-item {
  width: 100%;
  height: 423px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1px; }
  .slider-item:hover {
    opacity: 1; }

.subtext {
  position: absolute;
  top: 170px !important;
  right: 15px;
  z-index: 200;
  font-size: 30px;
  text-align: center !important;
  float: left;
  line-height: 40px;
  font-size: 48px;
  text-transform: uppercase;
  color: #000; }

.btn-prev, .btn-next {
  width: 70px;
  height: 70px;
  background: url(images/controls.png) no-repeat 0 0;
  position: absolute;
  top: -90px;
  z-index: 200;
  opacity: .9; }

.btn-prev {
  right: 86px; }

.btn-next {
  background-position: right 0;
  right: 15px; }

.at-nav {
  position: absolute;
  width: 400px;
  top: -15px; }

.quality-wrap {
  width: 160px;
  position: absolute;
  top: 586px;
  right: 0;
  text-align: center;
  display: none; }
  .quality-wrap .star-wrap {
    background: url(images/bgstar.jpg) repeat-x;
    height: 60px;
    text-align: center; }
    .quality-wrap .star-wrap li {
      display: inline-block; }

.quality-tt {
  background: #f5e058;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 30px;
  text-align: center; }

.content {
  background: #fff;
  padding: 30px 0; }

.item-prd {
  text-align: center;
  min-height: 297px; }
  .item-prd .item-img {
    position: relative; }
    .item-prd .item-img img {
      max-height: 147px; }
  .item-prd .desc-prd {
    min-height: 150px;
    padding-top: 20px; }
  .item-prd .desc-tt {
    font-size: 17px;
    font-weight: bold; }
    .item-prd .desc-tt a {
      color: #4a4a4a; }
      .item-prd .desc-tt a:hover {
        text-decoration: none; }
  .item-prd:hover {
    opacity: .8; }

.catagories .content {
  padding: 10px 0 30px; }

.bootrapstab {
  padding-left: 15px;
  padding-right: 15px; }

.submenu {
  background: #203b54;
  height: 32px;
  margin-bottom: 10px; }

.nav-sub {
  margin: 0 0 0px;
  padding: 0; }

.nav-sub > li {
  display: inline-block;
  list-style: none;
  padding: 0; 
  width:33%;
}

.nav-sub > li > a {
  border-radius: 0;
  padding: 0 15px;
  line-height: 32px;
  border: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-right: 0;
  display: block; }

.nav-sub > li.active > a, .nav-sub > li.active > a:hover, .nav-sub > li.active > a:focus, .nav > li > a:hover, .nav > li > a:focus {
  background: #ab0914;
  color: #fff;
  outline: none; }

.catagories .item-img {
  height: 200px; }
  .catagories .item-img img {
    max-height: 200px; }

.catagories-prd:after {
  width: 100%;
  height: 1px;
  display: block;
  clear: both;
  float: none; }

.catagories .tab-content {
  padding-top: 25px; }

.catagories .item-prd:hover {
  opacity: 1; }

.hide-wrp {
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.item-detail-wrp {
  background: #fff;
  height: 170px;
  border: 1px solid #d8d8d8;
  padding: 5px 0;
  overflow: hidden; }
  .item-detail-wrp .col-xs-8 {
    padding-left: 5px !important;
    padding-right: 5px !important; }

.item-detail-desc {
  border: 1px solid #d8d8d8;
  margin-bottom: 5px;
  height: 84px;
  overflow: hidden;
  padding: 0 5px; }

.item-detail-tt {
  background: #efefef;
  line-height: 22px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #e8e8e8; }

.item-detail-border {
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8; }

.item-detail-price {
  width: 100%;
  height: 51px;
  display: table;
  text-align: center; }
  .item-detail-price span {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle; }

.choose-color {
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 0px 0 2px; }
  .choose-color span {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin: 0 1px; }
  .choose-color span.colorred {
    background: red; }
  .choose-color span.colorblack {
    background: black; }
  .choose-color span.colorblue {
    background: blue; }
  .choose-color span.colorred_blue {
    background: url(images/red-blue.png) no-repeat center center; }
.radio{display: inline;}
#payment_form_purchaseorder{padding: 0;}
#payment_form_purchaseorder li{list-style: none;}
.choose-color-price {
  /*padding-top: 5px;*/
  /*text-align: center;*/
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle; }

.item-hide-submit {
  background: #203b54;
  line-height: 40px;
  padding: 0 12px; }
  .item-hide-submit a {
    float: right;
    text-transform: uppercase;
    font-size: 17px;
    background: url(images/icon1.png) no-repeat right 15px;
    color: #fff;
    padding-right: 20px; }

.item-hide-submit-price {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  float: left; }

.item-prd:hover .hide-wrp {
  display: block;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.old-price {
  width: 100%;
  display: block;
  text-decoration: line-through; }

.hide-wrp .item-detail-wrp .product-image img {
  max-height: 80px; }

.flex-direction-nav, .flex-control-paging {
  display: none; }

.slides {
  margin: 0;
  padding: 0; }
  .slides li {
    list-style: none; }

.choose-temp-wrap {
  border: 1px solid #d9d9d9;
  padding: 15px 10px; }
  .choose-temp-wrap select {
    width: 100%;
    line-height: 28px;
    height: 28px;
    border: 1px solid #d9d9d9;
    margin: 5px 0 20px;
    text-align: center; }

.design-choose-color {
  width: 68%;
  margin-top: 5px;
  float: left;
  border: 1px solid #d9d9d9;
  height: 40px;
  border-radius: 5px;
  text-align: center; }

#inkpadColor .color {
  width: 24px;
  height: 24px;
  margin: 7px 0 0 5px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block; }

.red-blue,.inkpad_red_blue {
  background-color: blue;
  position: relative; }
  .red-blue span,.inkpad_red_blue:after {
    width: 12px;
    height: 12px;
    position: absolute;
    background: red;
    top: 6px;
    left: 6px; }
.inkpad_red_blue:after{content: '';display: block;top: 4px;left: 4px;}
.black {
  background-color: black; }

.red {
  background-color: red; }

.blue {
  background-color: blue; }

.clear-textplace {
  width: 26%;
  margin-top: 5px;
  float: right;
  border: 1px solid #d9d9d9;
  background: url(images/clear.png) no-repeat 5px center;
  height: 40px;
  border-radius: 5px; }
  .clear-textplace span {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    text-align: right;
    padding: 10px 5px; }

.border-stamp {
  border: 1px solid #d9d9d9;
  margin-top: 14px;
  padding: 9px;
  border-radius: 5px; }
  .border-stamp input[type=checkbox] {
    margin: 0 0 0px; }

.frame-think {
  margin-top: 5px; }
  .frame-think .frametype {
    width: auto !important;
    display: inline; }
  .frame-think input {
    padding-left: 4px; }

.design-view {
  background: #f5f5f5;
  border: 1px solid #e7e7e7; }
.design-view p {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase; }

.design-pre-img {
  height: 232px;
  max-height: 232px;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap;}
.design-pre-img .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;}
#template_image{
  max-height: 232px;
  max-width: 100%;
    vertical-align: middle;}
.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 0 0 0 8px; }

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); }

.btn-primary {
  background: #bfbfbf url(images/upload.png) no-repeat 5px center;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding-left: 28px;
  padding-right: 5px; }
  .btn-primary:hover {
    background: #203b54 url(images/upload.png) no-repeat 5px center; }

.imgupload {
  font-size: 12px; }

.upload-wrap {
  border-top: 1px solid #e7e7e7;
  padding: 8px 0; }

.preview {
  display: inline-block;
  float: right;
  margin: 5px 8px 0 0; }

.op-img {
  width: 40.9%;
  height: 159px;
  border: 1px solid #d6d6d6;
  overflow: hidden;
  margin: 0 0.3% 1px 0;
  float: left;
  display: table;
  text-align: center; }
  .op-img span {
    display: table-cell;
    vertical-align: middle;
    height: 100%; }
  .op-img img {
    max-width: 123px; }

.info-hotline {
  width: 58.8%;
  height: 161px;
  border: 1px solid #d6d6d6;
  overflow: hidden;
  display: table;
  text-align: center;
  float: right;
  padding: 18px; }
  .info-hotline .info-hotline-text {
    background: url(images/tel.png) no-repeat top center;
    display: table-cell;
    /*padding-right: 44px;*/
    font-size: 18px;
    vertical-align: middle;
    height: 100px;
    text-align: center;
    padding-top: 20px; }
  .info-hotline .suportdes {
    display: block;font-size: 14px; }
  .info-hotline .suportphone {
    font-weight: bold;
    color: #f80000; }

.help-wrap {
  border: 1px solid #d6d6d6;
  padding: 5px 15px 15px;
  position: relative; }
  .help-wrap p {
    text-align: center;
    margin: 5px 0; }
  .help-wrap:before {
    content: "";
    width: 58.2%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: -2px;
    right: 0; }

.items-help {
  border-top: 1px solid #d6d6d6; }
  .items-help .item {
    width: 50%;
    float: left;
    padding: 6px 10px 6px 0px; }
    .items-help .item a:hover {
      color: #ff0000; }
    .items-help .item i {
      color: #15ad48;
      margin-right: 5px; }

.editer-wrap {
  border: 1px solid #d6d6d6;
  margin-top: 18px;
  padding: 8px;
  background: #f9f9f9;
  border-radius: 4px;
  min-height: 219px;}
  .editer-wrap p {
    font-size: 16px;
    font-weight: bold;
    padding-top: 4px; }
  .editer-wrap:after{content: '';width: 100%;clear: both;display: inline-block;}
.addline {
  background: #203b54;
  padding: 3px 10px;
  color: #fff;
  border: none;
  border-radius: 4px; }
.maximum-notice{text-align: right;}
.tit-editer {
  background: #e4e4e4;
  padding: 4px 0 0; }

.textColumn {
  width: 25.3%;
  margin-right: 1.6%;
  float: left; }
.text_design_oval .textColumn input[type='text']{width: 100%;}
.text_design_oval:after{content: '';width: 100%;display: block;clear: both;}
.editer-wrap.edit-special p{margin: 0 0 5px;font-weight: 200;font-size: 14px;}
.degrees{float: left;padding-right: 5px;}
.reverse{float: left;}
.reverse span{vertical-align: top;}
.applyfontstamp {
  width: 14.6%;
  margin-right: 2%;
  float: left; }
  .applyfontstamp select {
    width: 100%;
    outline: none;
    height: 24px;
    border: 1px solid #d6d6d6; }

.applyColumn {
  width: 9.8%;
  margin-right: 1.7%;
  float: left; }

.styleColumn {
  width: 10.4%;
  margin-right: 1.6%;
  float: left;
  text-align: center; }
  .styleColumn span {padding: 0 2px; position: relative;cursor: pointer;margin-right: 1px;}
  .styleColumn span.active{background: #ddd;}
  .styleColumn input{opacity: 0;position: absolute;z-index: 9;left: 0;cursor: pointer;}
.distance2ChHeader {width: 7.4%; margin-right: 1.4%; float: left; text-align: center; } 
.distance2ChHeader input {width: 100%; padding-left: 4px; height: 24px; border: 1px solid #d6d6d6; }

.distance2LiHeader {
  width: 7.2%;
  margin-right: 2.7%;
  float: left;
  text-align: center; }
  .distance2LiHeader input {
    width: 100%;
    padding-left: 4px;
    height: 24px;
    border: 1px solid #d6d6d6; }

.leftalign {
  width: 3%;
  margin-right: 2.5%;
  float: left;
  display: block;
  padding-top: 3px; }

.centeralign {
  width: 3.1%;
  margin-right: 2.5%;
  float: left;
  display: block;
  padding-top: 3px; }

.rightalign {
  width: 3%;
  display: block;
  padding-top: 3px;
  float: left; }

.textColhead {
  padding-left: 27px; }

.applyColumn label {
  position: relative;
  top: -2px;
  font-weight: normal; }

.item-editer {
  margin-top: 14px; }

.deleteColumn {
  width: 15%;
  float: left; }
  .deleteColumn a {
    display: block;
    background: url(images/remove.png) no-repeat left 2px;
    width: 20px;
    height: 22px;
    font-size: 0;
    opacity: .8; }
    .deleteColumn a:hover {
      opacity: 1; }

.textinputColumn {
  width: 85%;
  float: left; }
  .textinputColumn input {
    width: 100%;
    border: 1px solid #d6d6d6;
    height: 24px;
    padding: 0 4px; }

.fontsizeColmn select {
  width: 100%;
  outline: none;
  border: 1px solid #d6d6d6;
  height: 24px; }

.uploads-wrap {
  float: right; }

.fileupload2 .upload-wrap {
  text-align: center;
  padding: 0px 0;
  border-top: 0; }
.fileupload2 .btn-primary {
  display: inline-block;
  float: none; }

.content-edit{padding:20px 0px 0; margin-bottom: 20px;}
.content-edit:after{content:'';width: 100%;display: block;clear: both;}

.edit-image {
  width: 104px;float: left;text-align: center; }
  .edit-image span.simg {
    border: 1px solid #bfbfbf;
    width: 100%;height: 100%;vertical-align: middle;display: block;text-align: center; margin-bottom: 5px;}
    .edit-image span.simg img {
      max-width: 100%;
      max-height: 100%; }
    .edit-image .fileUpload{margin: 0 !important;}
    .edit-image .btn-primary{background-image: none;font-size: 10px;padding-left: 8px;padding-right: 9px;}
.upload.bottoncss3_1.rounded{text-align: center;}
  .upload.bottoncss3_1.rounded input{display: inline-block;}

.direction-wrap {
  background: url(images/positions.png) no-repeat;
  width: 72px;
  height: 72px;
  float: left;
  margin: 9px 15px; }
  .direction-wrap .direction {
    width: 24px;
    height: 24px;
    display: inline-block;
    border: 2px solid transparent;
    cursor: pointer; }
  .direction-wrap .select, .direction-wrap .direction:hover {
    border: 2px solid #3fd91c; }

.move-wrap {
  float: left; }
.content-edit .move-wrap{
  margin-top: -14px;
}
  .move-wrap .frm-row label {
    font-weight: normal;
    font-size: 12px;
    width: 165px;
    padding-top: 5px;
    vertical-align: text-bottom;
    position: relative;
    top: 3px; }
  .move-wrap .frm-row input[type='number'] {
    height: 22px; width:50px;float: right;margin-top: 5px;}
  .move-wrap .frm-checkbox {
    margin-top: 10px; }

.checkout-cart-index .cart {
  background: #f7f7f7;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #eee; }
.checkout-cart-index h1 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 20px; }
.checkout-cart-index .checkout-types, .checkout-cart-index .messages {
  padding: 0; }
  .checkout-cart-index .checkout-types li, .checkout-cart-index .messages li {
    list-style: none; }
.checkout-cart-index h2.product-name {
  font-size: 16px; }
.checkout-cart-index ul {
  padding: 0; }
.checkout-cart-index li {
  list-style: none; }
.checkout-cart-index button {
  background: #203b54;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  color: #fff; }
  .checkout-cart-index button:hover {
    background: #162b3f; }
.checkout-cart-index .a-center {
  white-space: nowrap;text-align: center;}
.checkout-cart-index tbody tr td:first-child {
  text-align: center; }
.checkout-cart-index tr td:first-child {
  width: 125px; }
.checkout-cart-index tfoot .first.last {
  text-align: right; }
  .checkout-cart-index tfoot .first.last .button.btn-continue {
    float: left; }
.checkout-cart-index .table > tfoot > tr > td {
  padding: 8px 0; }
.checkout-cart-index table thead tr th, .checkout-cart-index table tbody tr td {
  border: 1px solid #ddd;
  vertical-align: middle;
  padding: 5px; }
.checkout-cart-index table thead tr.first.last {
  border: 1px solid #ddd; }
.checkout-cart-index .shopping-cart-totals-table tbody tr td {
  padding: 5px; }
.checkout-cart-index .a-right {
  text-align: right; }
.checkout-cart-index .discount h2 {
  font-size: 20px; }
.checkout-cart-index .discount label {
  font-weight: normal; }
.checkout-cart-index .discount button {
  margin-top: 8px; }
.checkout-cart-index .shipping {
  padding-right: 0;
  padding-bottom: 15px; }
.checkout-cart-index .shipping-form {
  float: right; }
.checkout-cart-index .totals {
  width: 100%;
  text-align: right; }
  .checkout-cart-index .totals #shopping-cart-totals-table {
    float: right; }
  .checkout-cart-index .totals .checkout-types {
    display: block;
    clear: both;
    top: 10px;
    position: relative; }
  .checkout-cart-index .totals:after {
    content: '';
    width: 100%;
    height: 1px;
    float: none;
    clear: both; }
.checkout-cart-index .shipping-content {
  float: right; }
  .checkout-cart-index .shipping-content h2 {
    font-size: 20px; }
  .checkout-cart-index .shipping-content label {
    margin-bottom: 2px; }
  .checkout-cart-index .shipping-content select {
    height: 26px;
    width: 100%; }
  .checkout-cart-index .shipping-content li {
    margin-bottom: 5px; }
.checkout-cart-index .cart-collaterals {
  border-top: 1px solid #ddd;
  position: relative;
  top: 15px; }

.curr_english .inputgroup{margin-top: 15px;}
.curr_denmark .delivery,.curr_denmark .free-shipping,.curr_sweden .delivery,.curr_finland .delivery,.curr_finland .free-shipping,.curr_sweden .free-shipping{font-size: 10px;}
.curr_denmark .hotline-wrap{padding-top: 2px;}
.curr_denmark .cart-wrap{margin: 10px 15px 0 0;}
.curr_sweden .cart-wrap{margin: 10px 15px 0 0;}
.curr_sweden .hotline-wrap {padding-top: 20px;}
/*.curr_denmark .main-head{min-height: 112px;}*/

#payment_form_Dibspw{border: none !important;}
#p_method_paypal_express,#p_method_Dibspw, input#s_method_tablerate_bestway{display: inline;}
#payment_form_paypal_express{margin: 0;padding: 0;}
#payment_form_paypal_express li,#payment_form_Dibspw li{list-style: none;}
#checkout-payment-method-load dt span.p_method_paypal_express{display: none;}
.input-box.input-country select{height: 26px;width: 100% !important;}
.onestepcheckout-column-left input[type="text"]{width: 100% !important;}
.checkout-onepage-success h2{font-size: 20px;}

.onestepcheckout-column-left .input-box.input-firstname,.onestepcheckout-column-left .input-box.input-email, .onestepcheckout-column-left .input-box.input-postcode{width: 48% !important;margin-right: 2%;}

.onestepcheckout-column-left .input-box.input-lastname,.onestepcheckout-column-left .input-box.input-telephone,.onestepcheckout-column-left .input-box.input-region{width: 48% !important;margin-left: 2%;}
.required {
  padding-right: 5px; }
  .required em {
    margin-right: 5px; }

.account-login .page-title {
  padding: 0 15px; }
.account-login h1 {
  font-size: 22px;
  margin-bottom: 20px;
  background: #ddd;
  padding: 5px 15px; }
.account-login h2 {
  margin: 0;
  font-size: 20px; }
.account-login .content {
  padding: 0px 0 0; }
.account-login .form-list {
  padding: 0; }
  .account-login .form-list li {
    list-style: none; }
  .account-login .form-list input[type='text'], .account-login .form-list input[type='password'] {
    border: 1px solid #ddd;
    height: 28px;
    padding-left: 5px;
    width: 58%; }
.account-login button {
  background: #203b54;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  color: #fff; }
  .account-login button:hover {
    background: #162b3f; }
.account-login label em {
  padding-right: 5px; }
.account-login .registered-users {
  border-left: 1px solid #999;
  padding-left: 50px; }
  .account-login .registered-users label {
    font-weight: normal; }
  .account-login .registered-users .buttons-set button {
    padding: 5px 35px; }
  .account-login .registered-users .buttons-set a {
    display: block;
    margin-top: 5px; }

.account-create h1 {
  font-size: 22px;
  padding-left: 15px;
  margin-bottom: 20px;
  background: #ddd;
  padding: 5px 15px; }
.account-create h2 {
  margin: 0 0 15px;
  font-size: 20px; }
.account-create #form-validate {
  width: 80%;
  margin: 0 auto; }
.account-create .content {
  padding: 0px 0 0; }
.account-create .form-list {
  padding: 0; }
  .account-create .form-list label {
    font-weight: normal; }
  .account-create .form-list li {
    list-style: none; }
  .account-create .form-list input[type='text'], .account-create .form-list input[type='password'], .account-create .form-list select {
    border: 1px solid #ddd;
    height: 28px;
    padding-left: 5px;
    width: 70%; }
  .account-create .form-list .input-box {
    margin-bottom: 8px; }
  .account-create .form-list .control .input-box {
    float: left; }
.account-create button {
  background: #203b54;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  color: #fff; }
  .account-create button:hover {
    background: #162b3f; }
.account-create .buttons-set button {
  padding: 5px 35px; }
.account-create .buttons-set a {
  display: block;
  margin-top: 5px; }

.sample-prd {
  background: #fff; }

.img-sample-prd {
  height: 108px;
  overflow: hidden;
  margin-bottom: 8px; }
  .img-sample-prd a {
    display: block; }

.catagories .item-img .img-sample-prd img {
  max-height: 108px; }

.item-prd:hover .sample-hide {
  display: none; }

.inkpads-wrap {
  padding: 15px; }
  .inkpads-wrap label {
    font-weight: normal;
    margin-bottom: 0; }

.border {
  border: 1px solid #ddd; }

.option {
  position: relative; }
  .option input[type='radio'] {
    position: relative;
    top: 1px; }

.color_box {
  position: absolute;
  left: 17px;
  top: -10px;
  background: #fff;
  width: 98%; }

.color_item {
  float: left;
  margin-left: 6px;
  padding-top: 11px; }

.lineheight {
  line-height: 42px; }

.inkpadSize20 {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-position: center center;
  border-radius: 4px;
  display: inline-block;
  vertical-align: bottom; }

.inkpad_black {
  background: #000; }

.inkpad_red {
  background: #ff0000; }

.inkpad_blue {
  background: blue; }

.marginam {
  margin-bottom: -1px; }
.products_simple span.price{float: right;}
.marginam:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: -2px;
  top: 0;
  background: #fff;
  display: inline-block; }

footer {
  border-top: 1px solid #dbdbdb; }

.footer-top {
  background: #f3f3f3;
  padding: 20px 0; }
  .footer-top h4 {
    font-size: 17px;
    padding-bottom: 12px;
    font-weight: bold; }
  .footer-top .col-xs-4 {
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 2px; }
  .footer-top .mastercard, .footer-top .accard {
    background: #fff;
    border: 1px solid #e6e6e6;
    text-align: center;
    width: 100%;
    border-radius: 2px; }
  .footer-top .accard {
    padding: 5px 0;
     }
  .footer-top .col-sm-5.col-md-3 a{margin-top: 8px;display: block;}

.card-frm-right{padding: 4px 0 0px 2px;}
.card-frm{padding: 4px 2px 0px 0;}
.footer-under {
  background: #445b70;
  height: 35px;
  text-align: center;
  color: #d4d4d4;
  font-size: 14px;
  line-height: 34px; }

.Breadcrumbs {
  margin: 0px 15px 10px; }
  .Breadcrumbs ul {
    margin: 0;
    padding: 0; }
  .Breadcrumbs li {
    display: inline-block; }
    .Breadcrumbs li a {
      color: #999; }
    .Breadcrumbs li a.active, .Breadcrumbs li a:hover {
      color: #000; }

.button-holder {
  padding-top: 6px;
  text-align: center; }

.regular-radio {
  display: none; }

.button-holder .regular-radio + label {
  -webkit-appearance: none;
  border: none;
  margin-right:3px;
  padding: 9px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  top: 1px;
  width: 24px;
  height: 24px;
  cursor: pointer; }

.button-holder .regular-radio:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 2px;
  left: 5px;
  color: #fff;
  background: none;
  box-shadow: none; }

.regular-radio:checked + label {
  background-color: none;
  color: #99a1a7;
  border: none; }

.regular-radio + label:active, .regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

.button-holder2 .regular-radio + label {
  width: 20px;
  height: 20px;
  border-right: 0;
  margin: 0;
  box-shadow: 0 0 0 #fff;
  border: 1px solid transparent; }

.button-holder2 span {
  width: 20px;
  height: 20px; }

.button-holder2 .regular-radio:checked + label:after {
  content: '';
  font-size: 14px;
  position: absolute;
  width: 19px;
  height: 21px;
  border: 1px solid #cdcdcd;
  background: none;
  box-shadow: none;
  top: -1px;
  left: 0;
  border-radius: 2px; }

.frametype {
  width: 100% !important;
  float: none;
  white-space: nowrap;
  display: block;
  margin-right: 5px;
  text-align: left;
  margin-bottom: 8px; }

.frmborder0, .frmborder1, .frmborder2, .frmborder3, .frmborder4, .frmborder5, .frmborder6, .frmborder7 {
  width: 24px;
  height: 20px; }

.frmborder0 {
  background: url(images/border0.jpg) no-repeat center; }

.frmborder1 {
  background: url(images/border1.jpg) no-repeat center; }

.frmborder2 {
  background: url(images/border2.jpg) no-repeat center; }

.frmborder3 {
  background: url(images/border3.jpg) no-repeat center; }

.frmborder4 {
  background: url(images/border4.jpg) no-repeat center; }

.frmborder5 {
  background: url(images/border5.jpg) no-repeat center; }

.frmborder6 {
  background: url(images/border6.jpg) no-repeat center; }

.frmborder7 {
  background: url(images/border7.jpg) no-repeat center; }

.wrapper-dropdown {
  /* Size and position */
  position: relative;
  /* Enable absolute positionning for children and pseudo elements */
  width: 100%;
  padding: 5px;
  margin: 5px 0 10px;
  z-index: 99;
  /* Styles */
  color: #333;
  outline: none;
  cursor: pointer;
  border: 1px solid #ddd;
  /* Font settings */ }

.wrapper-dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #333 transparent; }

.wrapper-dropdown .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0;
  width: 100%;
  background: #fff;
  list-style: none;
  font-weight: normal;
  opacity: 0;
  pointer-events: none;
  border: 1px solid #ddd;
  text-align: left;
  padding-left: 0; }

.wrapper-dropdown .dropdown li a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px 20px; }

/* Hover state */
.wrapper-dropdown .dropdown li:hover a {
  background: #ddd; }

/* Active state */
.wrapper-dropdown.active .dropdown {
  opacity: 1;
  pointer-events: auto; }

.wrapper-dropdown.active:after {
  border-color: #9bc7de transparent;
  border-width: 0px 6px 6px 6px;
  margin-top: -3px; }
p.minimal-price{margin: 0;}
.minimal-price .price-label {
  display: none; }

.opdNextStep a.opdConfirm.rounded.submitButton{margin-right: 15px; background: #e2002b; border-radius: 4px; padding: 12px 10px; color: #fff; display: block; float: right; font-size: 15px; font-weight: normal;border-bottom: 2px solid #c40025;text-transform: uppercase;}
.opdNextStep a.opdConfirm.rounded.submitButton:hover {background: #c40025; }

.textconfirm table td,.text2image-index-confirm table table th {padding: 4px 12px !important;/* float: left; */}
.stampprice input#qtyProduct {width: 30px !important; height: 20px; float: left;text-align: center;}
.stampprice .price-box .price {color: red; font-weight: bold; margin-left: 5px; }
#frmAddtoCart .stampprice .price-box .price{display: none;}
#redesign a {background: #eeeeee url(images/return.png) no-repeat 5px center; color: #333; padding: 8px 12px 8px 30px; border-radius: 4px; position: relative; top: 18px; text-transform: none;}
#redesign a:hover{background: #203b54 url(images/return.png) no-repeat 5px center;color: #eee;}
#addtocart {background: #e2002b; color: #fff; padding: 14px 30px; border-radius: 4px;border-bottom: 2px solid #c40025; position: relative; top: 8px; text-transform: uppercase; }
#addtocart:hover{background: #c40025;}
.wrap-img-boder{border: 2px solid #f0f0f0;min-height: 250px;-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;}
.wrap-img-confirm{ width: 100%; height: 100%; display: table;}
td.quantity{text-align: center;}
.wrap-img-confirm .cfReview{display: table-cell; text-align: center; vertical-align: middle;}
.text2image-index-confirm h3{font-size: 17px !important;color: #444;text-transform: uppercase;font-weight: bold !important;}
.text2image-index-confirm table table td,.text2image-index-confirm table table th{border: 1px solid #f0f0f0;}
td .price-box .price{color: #ff0000;}
.text2image-index-confirm table table th{background: #f5f5f5;}
/*ONE STEP CHECK OUT*/
h1.onestepcheckout-title{font-size: 28px !important;margin-top: 0;padding-top: 0;}
p.onestepcheckout-numbers{background-image: none !important;font-weight: bold !important;padding-left: 0 !important;color: #203b54 !important;height: 12px !important;}
.group-select li{padding: 2px 0 !important;}
form#onestepcheckout-form{ padding:15px;}
div.onestepcheckout-column-left,div.onestepcheckout-column-middle{background-image: none !important;}
.onestepcheckout-summary th{border-top: none !important;}
.onestepcheckout-totals td, .onestepcheckout-summary td{border-bottom: 1px solid #fff !important;padding: 3px 6px !important;}
.onestepcheckout-totals tr{background: #f7f7f7;}
.onestepcheckout-totals tr.grand-total{background: #ececec;}
#onestepcheckout-login-link {color: #234c71 !important; }
#billing_address ul li,#container_payment_method_ccsave .form-list{list-style: none;}
#billing_address ul,ul#billing_address_list{padding-left: 0;}
div.onestepcheckout-column-middle{padding-top: 0 !important;}
p.onestepcheckout-numbers-2{padding-top: 4px !important;}
#p_method_ccsave,#p_method_checkmo{display: inline-block;}
.onestepcheckout-place-order{background: #e2002b; border-radius: 4px; padding: 12px 15px;border: none; border-bottom: 2px solid #c40025; color: #fff; display: block; float: right; font-size: 18px; font-weight: bold;}
.onestepcheckout-place-order:hover {background: #c40025; }
#container_payment_method_ccsave .form-list{padding-left: 0;}
#ccsave_cc_type,.v-fix select{height: 28px;}
.v-fix{float: left;margin-right: 5px;}
div.onestepcheckout-column-right{padding-top: 0 !important;}
.checkoutcontainer .payment-methods .input-box select.month,#ccsave_expiration{width: 122px !important;}
.checkoutcontainer .payment-methods .input-box select.year,#ccsave_expiration_yr{width: 57px !important;}
.cvv-what-is-this{display: block;clear: both;}
a.opdConfirm {
    background-color: #15ad48;
    background-image: url("../../images/text2image/confirm.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    float: right;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 60px 5px 10px;
}
div.onestepcheckout-column-left{padding-right: 15px;}
div.onestepcheckout-column-middle,div.onestepcheckout-column-right{padding-left: 10px;}
/* No CSS3 support */
.no-opacity .wrapper-dropdown .dropdown,
.no-pointerevents .wrapper-dropdown .dropdown {
  display: none;
  opacity: 1;
  /* If opacity support but no pointer-events support */
  pointer-events: auto;
  /* If pointer-events support but no pointer-events support */ }

.no-opacity .wrapper-dropdown.active .dropdown,
.no-pointerevents .wrapper-dropdown.active .dropdown {
  display: block; }

.nobr{white-space: nowrap;}
.dashboard .box-recent{width: 60%;float: left;}
.dashboard .box-info{margin-left: 2%;width: 38%;float: left;background: #f5f5f5;padding:0 15px;}

/*ONE PAGE*/
.buttons-set button{
background: #bfbfbf;
border-radius: 4px;
padding: 5px 10px 5px;
color: #fff;
display: block;
font-size: 15px;
font-weight: normal;
border: none;}
.buttons-set button:hover {background: #122434; }
#frmAddtoCart .stampprice,.addtocart{padding: 10px 0;}

/*LANG*/
.language{float: left;padding-top: 2px;}
.language a{margin-right: 5px;}
.language a:hover{opacity: .6;}
#languageSwitcher{display: table;}
#languageSwitcher li{width: 100px;
float: left;
text-align: center;
margin: 10px 0;list-style: none;}

/*CONTAC*/
#contactForm h2.legend{font-size: 20px;}
#contactForm .form-list,#contactForm .buttons-set{max-width: 570px;margin: 0 auto;padding: 0;}
#contactForm .form-list li{list-style: none;}
#contactForm .form-list li label{font-weight: 200;margin-bottom: 2px;}
#contactForm input[type='text'], input[type='email']{width: 70%;margin-bottom: 6px;}

/*ABOUT US*/
.item-about{position: relative;}
.desc-about,.whois-content{border: 1px solid #f1f1f1;border-radius: 4px;padding: 10px;}
.desc-about span{height: 55px;overflow: hidden;display: block;margin-bottom: 5px; }
.item-about h3,.whois h1{font-size: 22px;color: #2b2b2b;font-family: arial,sans-serif;font-weight: bold;}
.content-about{position: absolute;bottom: 95px; background: #fff; border: 1px solid #f1f1f1; border-radius: 4px; padding: 10px;display: none;width: 1140px;z-index: 9;box-shadow: 0 0 15px 3px #999;}
.item-about:hover .content-about{display: block;}
.content-about:after{content: ""; width: 0; height: 0; position: absolute; left: 16px; bottom: -10px; margin-top: -3px; border-width: 10px 10px 0 10px; border-style: solid; border-color: #fff transparent;}
.item-about-right .content-about{left: -97.4%;}
.item-about-right .content-about:after{left: 54%;}

textarea{width: 100%;margin-bottom: 6px;height: 150px;}

@media (min-width: 992px) and (max-width: 1200px) {
  .delivery {
    margin: 0 10px 0 0px;font-size: 10px;}

  .free-shipping {
    margin: 0px 10px 0 0;font-size: 10px;}
  .delivery-time{font-size: 10px;padding: 6px 0 0 30px;margin: 0px 0px 0 0;}
  .info-hotline {
    width: 56.8%;
    padding: 10px; }

  .info-hotline .info-hotline-text {
    font-size: 14px; }

  .help-wrap {
    padding: 0 10px; }

  .items-help .item {
    padding: 6px 0px 6px 0px; }

  .help-wrap:before {
    width: 56.2%; }

  .edit-image {
    width: 70px;
    height: 72px; }

  .direction-wrap {
    margin: 0px 5px; }

  .move-wrap {
    float: right;
    margin-top: -12px; }

  .move-wrap .frm-row input[type='number'] {
    width: 35px; }

  .deleteColumn a {
    background: url(images/remove.png) no-repeat left 4px;
    width: 16px;
    height: 22px;
    font-size: 0;
    opacity: .8;
    background-size: 100%; }

  .clear-textplace {
    background: none; }

  .clear-textplace span {
    text-align: center;
    font-size: 12px; }

  .button-holder2 .regular-radio + label, .button-holder2 span {
    width: 17px; }

  .button-holder .regular-radio + label {
    padding: 5px; }

  .button-holder2 .regular-radio:checked + label:after {
    width: 15px; }

  .frame-think input {
    width: 58px; }

  .addboder-around {
    font-size: 12px; }

  .zoomFirst {
    width: 40px; }
  .preview{margin: 5px 2px 0 0;}
  .editer-wrap .uploads-wrap{width: 100%;}
  .editer-wrap .uploads-wrap .fileUpload{margin: 0 0 0 0px;}
 }

@media (max-width: 1199px) {
.desc-about{display: none; }
.content-about{position: static;bottom: 95px; background: none; border: 1px solid #f1f1f1; border-radius: 4px; padding: 10px;display: block;width: 100%;z-index: 9;box-shadow: none}
.content-about:after{display: none;}

}

@media (min-width: 768px) and (max-width: 991px) {
  .hide-responsive,.delivery-time {
    display: none; }

  .main-head {
    min-height: 96px; }

  .main-nav {
    width: 158px; }

  .delivery-wrap {
    padding-top: 22px; }

  .delivery {
    margin: 0 15px 0 0px; }

  .free-shipping {
    margin: 0px 0px 0 0; }

  .delivery, .free-shipping, .delivery-time {
    font-size: 10px;
    min-height: 18px; }

  .cart-wrap {
    margin: 6px 15px 0 0; }

  .account-login .form-list {
    padding: 0; }
    .account-login .form-list input[type='text'], .account-login .form-list input[type='password'] {
      width: 100%; }

  .zoomFirst {
    width: 64px; } 

  .editer-wrap{ clear: both;
    display: inline-block;
    float: none;
    margin-top: 9px;
    padding: 8px;
    width: 100%;}

  .edit-image{width: 40%;}
  .content-edit::after{height: 15px;}
  .col-md-5.fileupload2.hide-responsive{display: block;}

  .dashboard .box-recent{width: 100%;float: none;}
  .dashboard .box-info{margin-left: 0%;width: 100%;float: none;background: #f5f5f5;padding:0 15px;}
  .curr_denmark .delivery-wrap,.curr_sweden .delivery-wrap{display: none;}
  .curr_denmark .delivery, .curr_denmark .free-shipping, .curr_sweden .delivery, .curr_sweden .free-shipping, .curr_english .delivery, .curr_english .free-shipping
{
    font-size: 10px;
}
  .curr_denmark .hotline-wrap,.curr_sweden .hotline-wrap{padding-top: 10px;}
  .curr_denmark .inputgroup,.curr_sweden .inputgroup{margin-top: 60px;}
  .curr_denmark .hotline{font-size: 12px;}
  .curr_denmark .cart-wrap{margin: -3px 15px 0 0;}
  }

/*@media (min-width: 768px) {
.desc-about{display: none; }
.content-about{position: static;bottom: 95px; background: none; border: 1px solid #f1f1f1; border-radius: 4px; padding: 10px;display: block;width: 100%;z-index: 9;box-shadow: none}
.content-about:after{display: none;}

}*/


@media (max-width: 768px) {
  /*ONE STEP CHECKOUT*/
  div.onestepcheckout-column-left{width: 100% !important;float: none !important;margin-right: 0 !important;padding-right: 0px; margin-bottom: 15px;background-image: none !important;}
  .input-box{width: 100% !important;}
  .input-box input[type='text']{width: 100% !important;}
  div.checkoutcontainer div.input-country select{width: 100% !important;height: 28px;}
  div.onestepcheckout-column-middle{float: left; margin-right: 0; padding-right: 0; padding-top: 15px; width: 49% !important; padding-left: 0;border-bottom: none}
  div.onestepcheckout-column-right{padding-left: 15px;width: 50%;}
    .col-right.sidebar{width: 100%;margin-right: 0;}
} 

@media (max-width: 767px) {
  .delivery-wrap, .hide-responsive { display: none !important; }
  .language{position: absolute;right: 0;top: 0;}
  .item-detail-wrp .col-xs-4.nopad img {
    max-height: 85px; }

  .btn-mobi-top {float: none; display: block; outline: none; }

  .top-nav {height: auto; text-align: left; padding-bottom: 10px; display: none; background: #203b54; }

  .top-nav ul {padding: 0px 0 0; margin: 0; display: block; }

  .top-nav ul li {display: block; border-bottom: 1px solid #445b70; }
  .top-nav ul li a{color: #fff;}
  .top-nav ul li:before {content: ""; margin: 0; height: 0; width: 0; }

  .account-wrap { width: 100%; }
    .account-wrap ul {border-right: none; padding: 0; }

  .logo {
    text-align: center;
    height: 50px; }
    .logo img {
      max-height: 100%; }

  .mobi-nopadd {
    padding: 0; }

  .main-nav {
    width: 100%;
    position: relative; }
    .main-nav button {
      background: #203b54 url(images/menu.png) no-repeat 15px center; }

  .nav-main {
    width: 100%;
    background: #203b54;
    z-index: 10; }
  .nav-main li {
    display: block;
    border-bottom: 1px solid #445b70;
    line-height: 28px;
    padding: 0;
    }
  .nav-main li ul{padding-left: 0px;}
  .nav-main li ul li{position: relative;}
  .nav-main li ul li:before{content: '';width: 6px;height: 6px;border-radius: 50px;display: block;background: #fff;position: absolute;left: 7px;top: 11px;}
  .nav-main li ul li:last-child{border-bottom: none;}
  .nav-main li ul li a{padding-left: 20px;}
    .nav-main a {
      color: #fff; }

  .inputgroup input[type='text'] {
    width: 50%; }

  .inputgroup select {
    width: 40%; }

  .cart-wrap {
    margin: 5px 0 0 0;
    width: 50%;
    float: right;
    margin-bottom: 10px; }

  .hotline-wrap {
    width: 50%;
    float: left;
    padding-top: 2px; }
    .hotline-wrap strong {
      font-size: 12px; }

  .hotline {background: url(images/tel.png) no-repeat left center; padding-left: 35px; padding-right: 0; text-align: left; }

  .upload-wrap:after {content: ''; width: 100%; height: 1px; display: block; clear: both; }

  .preview {
    display: block;
    /*float: none;*/
    margin: 10px 8px 0 8px; }

  .editer-wrap p {
    font-size: 14px; }

  .account-login .new-users {
    border-top: 1px solid #999;
    padding-top: 10px; }
  .account-login .registered-users {
    border-top: 1px solid #999;
    border-left: 0;
    padding-left: 15px;
    margin-top: 15px;
    padding-top: 10px; }
  .account-login .form-list {
    padding: 0; }
    .account-login .form-list input[type='text'], .account-login .form-list input[type='password'] {
      width: 100%; }
   div.onestepcheckout-column-middle{width: 100% !important;background-image: none !important;}
  div.onestepcheckout-column-right{width: 100%;} 
  .col-md-5.fileupload2.hide-responsive,.col-md-5.fileupload2.hide-responsive .editer-wrap{display: block !important}
  .direction-wrap{margin: 0 15px;}
  /*.edit-image{width: 45%;}*/
  .content-edit:after{height: 15px;}
  .dashboard .box-recent{width: 100%;float: none;}
  .dashboard .box-info{margin-left: 0%;width: 100%;float: none;background: #f5f5f5;padding:0 15px;}
  .checkout-cart-index tbody tr td:first-child{min-width: 60px;}
  .curr_sweden .cart-wrap,.curr_denmark .cart-wrap{margin: 10px 0px 0 0;}
  
  /*.desc-about{display: none; }
  .content-about{position: static;bottom: 95px; background: none; border: 1px solid #f1f1f1; border-radius: 4px; padding: 10px;display: block;width: 100%;z-index: 9;box-shadow: none}
  .content-about:after{display: none;}*/
}

/*@media (min-width: 480px) and (max-width: 580px) {
  .edit-image{width: 45%;}
}*/

/*@media (max-width: 550px) {
  .edit-image{width: 35%;}
}*/

@media (min-width: 480px) and (max-width: 639px) {
  .textColumn {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 5px;
    padding-bottom: 5px; }

  .applyfontstamp {
    width: 25%;
    margin-right: 2%; }

  .applyColumn {
    width: 12%;
    margin-right: 2%; }

  .styleColumn {
    width: 14%;
    margin-right: 2%; }

  .distance2ChHeader {
    width: 9%;
    margin-right: 2%; }

  .distance2LiHeader {
    width: 9%;
    margin-right: 2%; }

  .alginmentheader {
    width: 20%;
    margin-right: 0%;
    float: left; }

  .tit-editer .textColhead {
    display: none; }

  .textColhead {
    padding-left: 5px; }

  .deleteColumn {
    width: 6%; }

  .textinputColumn {
    width: 94%; }

  .applyfontstamp {
    padding-left: 5px; }

  .item-editer .applyfontstamp {
    padding-left: 6%; }

  .leftalign, .centeralign, .rightalign {
    width: 33.33333333333333%;
    margin-right: 0; }}
@media (min-width: 480px) and (max-width: 767px) {
  .product-in-mobile .col-sm-4 {
    width: 50%;
    float: left; } }
@media (max-width: 479px) {
  .col-md-5.fileupload2.hide-responsive, .col-md-5.fileupload2.hide-responsive .editer-wrap,.editer-wrap {
    display: none !important; }

  .color_item {
    font-size: 0;
    margin-left: 20px; }

  .inkpads-wrap label {
    font-size: small; } }



.content-edit .removeIcon {
    background-image: url("../images/text2image/remove.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 100%;
    margin-top: -85px;
    position: absolute;
    width: 24px;
    background-size: 12px 12px;
}

.checkupload{
margin-top: 10px !important;
}


/*for left right input*/

.bgCBB {
    background-image: url("../images/text2image/d2c-bg.png");
}
.bgCBB {
    background-repeat: no-repeat;
    float: left;
    height: 16px;
    width: 46px;
}
.bgCBB .left, .bgCBB .right {
    float: left;
    height: 16px;
    width: 10px;
}
.asc, .desc, .bgCBB .left, .bgCBB .right {
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 8px;
    width: 15px;
}
.bgCBB .left {
    background-image: url("../images/text2image/left.png");
    background-position: 45% 45%;
}
.bgCBB .right {
    background-image: url("../images/text2image/right.png");
    background-position: 50% 45%;
}
.bgCBB input {
    background-color: transparent;
    border: 0 none;
    float: left;
    height: 16px;
    padding: 0 0 0 6px;
    width: 25px;
}
.d2c, .d2l {
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.m-wrap{
  display: flex;   
  flex-wrap: wrap;
}
footer .new_text {
	background:#fff;
}
.newstockstamp-item a{
	line-height:121px;
}

.newstockstamp-item img{
	max-height:110px; 
}