#getVoucherCode, #marketing10{position: relative;}
#getVoucherCode, #marketing10{font-size: 16px; padding: 20px;}
#getVoucherCode .text, #marketing10 .text{margin-bottom: 20px;}
#marketing10 .btn{display: block; width: 91px; height: 35px; float: left; line-height: 35px; text-transform: uppercase; text-align: center; color: #fff; cursor: pointer;padding:0;}
#marketing10 .btn.yes{background-image: url("../images/marketing10/blue-button.jpg");}
#marketing10 .btn.no{background-image: url("../images/marketing10/red-button.jpg"); margin-left: 20px;}
#getVoucherCode button, #marketing10 button{background-image: url("../images/marketing10/blue-button.jpg");height: 35px;line-height: 35px;width: 91px;color: #fff;text-transform: uppercase;border: 0;}
#getVoucherCode .overlay, #marketing10 .overlay{display: none;background: #000; height: 100%; left: 0; opacity: 0.6; position: absolute; text-align: center; top: 0;width: 100%; text-align: center;}
#getVoucherCode .overlay img, #marketing10 .overlay img{padding-top: 60px;}
#getVoucherCode .box, #marketing10 .box{padding: 10px; color: #fff; text-align: center;}
#getVoucherCode .box1, #marketing10 .box1{background-color: blue; margin-bottom: 10px;}
#getVoucherCode .box2, #marketing10 .box2{background-color: red; margin-bottom: 10px;}
#getVoucherCode .box3, #marketing10 .box3{background-color: grey;}