//Tablet ngang
@media (min-width:992px) and (max-width:1200px){
	.delivery{margin: 0 50px 0 0px;}
	.free-shipping{margin: 8px 50px 0 0;}
	.info-hotline{width: 56.8%;padding: 10px;}
	.info-hotline .info-hotline-text{font-size: 14px;}
	.help-wrap{padding: 0 10px;}
	.items-help .item{padding: 6px 0px 6px 0px;}
	.help-wrap:before{width: 56.2%;}
	.edit-image{width: 70px;height: 72px;}
	.direction-wrap{margin: 0px 2px;}
	.move-wrap {float: right;margin-top: -12px;}
	.move-wrap .frm-row input[type='number']{width: 33px;}
	.deleteColumn a{background: url(images/remove.png) no-repeat left 4px; width: 16px; height: 22px; font-size: 0; opacity: .8; background-size: 100%;} 
	.clear-textplace{background: none;}
	.clear-textplace span{text-align: center;font-size: 12px;}
	.button-holder2 .regular-radio + label,.button-holder2 span{width: 17px}
	.button-holder .regular-radio + label{padding: 5px;}
	.button-holder2 .regular-radio:checked + label:after{width: 15px;}
	.frame-think input{width: 58px;}
	.addboder-around{font-size: 12px}
	.zoomFirst{width: 40px;}
}

// Tablet dung
@media (min-width:768px) and (max-width:991px){
	.hide-responsive{display: none;}
	.main-head{min-height: 96px;}
	.main-nav {width: 158px;}
	.delivery-wrap {padding-top: 22px;}
	.delivery{margin: 0 15px 0 0px;}
	.free-shipping{margin: 8px 15px 0 0;}
	.delivery,.free-shipping,.delivery-time{font-size: 10px;min-height: 18px;}
	.cart-wrap{margin: 6px 15px 0 0;}
	.account-login{
		.form-list{padding: 0;
			input[type='text'],input[type='password']{width: 100%}
		}
	}
	.zoomFirst{width: 64px;}
}

// Small Tablet and Smartphone ngang
@media (min-width:520px) and (max-width:767px){
	
}

// Mobile
@media (max-width:767px){
	.delivery-wrap,.hide-responsive{display: none !important;}
	.item-detail-wrp .col-xs-4.nopad img{max-height: 85px;}
	.btn-mobi-top{float: none;display: block;outline: none}
	.top-nav{height: auto;text-align: left;padding-bottom: 10px;display: none;}
	.top-nav ul{padding:10px 0 0;display: block;}
	.top-nav ul li{display: block;width: 50%;float: left;border: 1px solid #999;text-align: center;}
	.top-nav ul li:before{content: "";margin: 0;height: 0;width: 0;}
	.account-wrap{width: 100%;
		ul{border-right: none;padding: 0;}
	}
	.logo{text-align: center;height: 50px;
		img{max-height: 100%;}
	}
	.mobi-nopadd{padding: 0;}
	.main-nav{width: 100%;position: relative;
		button{background: #203b54 url(images/menu.png) no-repeat 15px center;}
	}
	.nav-main{width: 100%;background:#203b54;z-index: 10;
		a{color: #fff;}
	}
	.inputgroup input[type='text']{width: 50%;}
	.inputgroup select{width: 40%;}
	.cart-wrap{margin: 5px 0 0 0;width: 50%;float: right;margin-bottom: 10px;}
	.hotline-wrap{width: 50%;float: left;padding-top: 2px;
		strong{font-size: 12px;}
	}
	.hotline {background: url(images/tel.png) no-repeat left center;padding-left: 35px;padding-right: 0;text-align: left;}

	// DESIGN PAGE
	.upload-wrap:after{content: '';width: 100%;height: 1px;display: block;clear: both;}
	.preview {display: block;float: none;margin: 10px 8px 0 8px;}
	.editer-wrap p{font-size: 14px;}

	// LOGIN
	.account-login{
		.new-users{border-top: 1px solid #999;padding-top: 10px;}
		.registered-users{border-top: 1px solid #999;border-left: 0;padding-left: 15px;margin-top: 15px;padding-top: 10px;}
		.form-list{padding: 0;
			input[type='text'],input[type='password']{width: 100%}
		}
	}


}

// Small mobile and Smartphone ngang
@media (min-width:480px) and (max-width:639px){
	.textColumn{width: 100%;margin-right: 0%;margin-bottom: 5px;padding-bottom: 5px;}
	.applyfontstamp{width: 25%;margin-right: 2%;}
	.applyColumn{width: 12%;margin-right: 2%;}
	.styleColumn{width: 14%;margin-right:2%;}
	.distance2ChHeader{width: 9%;margin-right:2%;}
	.distance2LiHeader{width: 9%;margin-right:2%;}
	.alginmentheader{width: 20%;margin-right:0%;float: left;}
	
	.tit-editer .textColhead{display: none;}
	.textColhead{padding-left: 5px;}
	.deleteColumn{width: 6%;}
	.textinputColumn{width: 94%;}
	.applyfontstamp{padding-left: 5px;}
	.item-editer .applyfontstamp{padding-left: 6%;}
	.leftalign,.centeralign,.rightalign{width: 33.33333333333333%;margin-right: 0;}
}

@media (min-width:480px) and (max-width:767px){
	.product-in-mobile{
		.col-sm-4{width: 50%;float: left;}
	}
}

@media (max-width:479px){
	.editer-wrap{display: none;}
	// INKPADS
	.color_item{font-size: 0;margin-left: 20px;}
	.inkpads-wrap label{font-size: small;}
}