.categoriesMenu {display: table; margin-bottom: 10px;}
.categoriesMenu li{float: left; margin-left: 18px; background: #fff; border: 1px solid #d4d4d4; padding: 0 10px;}
.categoriesMenu li:first-child{margin-left: 0;}
.categoriesMenu li.active, .categoriesMenu li:hover{background-color: #c9c8c8;}
.categoriesMenu li a{font-size: 14px; line-height: 25px; text-align: center; color: #000;}

#stockstampdlGroup li{width: 234px; margin: 22px 0 0 22px; float: left;}
#stockstampdlGroup li.col-1{margin-left: 0;}
#stockstampdlGroup li.row-1{margin-top: 0;}
#stockstampdlGroup li > p{text-transform: uppercase; background-color: #666666; color: #fff; text-align: center; padding: 5px 0;}
#stockstampdlGroup li > p > a{color: #fff;}
#stockstampdlGroup li > div{border: 1px solid #d4d4d4; padding: 10px; width: 212px; height: 170px;}

.product{float: left; width: 106px; height: 106px; margin: 10px 0 10px 22px; border: 1px solid #d4d4d4; padding: 10px 5px; text-align: center;}
.product.col-1{margin-left: 0;}
.product .price{color: #cc0000;}
.product .inkpads{margin-top: 12px; text-align: center;}
.product .inkpads > span{width: 20px; height: 13px; display: inline-block; cursor: pointer;}
.product .inkpads > span > a{display: block; line-height: 13px;}
.product .inkpads > span.black{background-color: black;}
.product .inkpads > span.red{background-color: red;}
.product .inkpads > span.blue{background-color: blue;}