<?php             
$paymate = Mage::getModel('dibspw/Dibspw');
$_code=$this->getMethodCode();
$sHTML = '<fieldset class="form-list">
          <ul id="payment_form_'.$_code. '" style="display:none" class="rounded">
          <li>' . $this->__('DIBSPW_LABEL_1');
$aLogoArray = explode(',', $paymate->getConfigData('dibspwlogos'));
$sTrusted = '';
$sCards = '';
$iCards = 1;
$iTrusted = 1;
foreach($aLogoArray as $item) {
    $mSecured = (boolean)preg_match("/^(DIBS|PCI|.*_SECURE.*)$/s", $item);
    if($mSecured === TRUE){
        $sTrusted .= $paymate->cms_get_imgHtml($item) . "&nbsp;&nbsp;";
        if($iTrusted%12 == 0) $sTrusted .= "<br />";
        $iTrusted++;
    }
    else {
        $sCards .= $paymate->cms_get_imgHtml($item) . "&nbsp;&nbsp;";
        if($iCards%12 == 0) $sCards .= "<br />";
        $iCards++;
    }
}

if(!empty($sTrusted)) $sHTML .= '<br />' . $sTrusted;
if(!empty($sCards)) $sHTML .= '<br />' . $this->__('DIBSPW_LABEL_2') . '<br />' . $sCards;

$sHTML .= '</li></ul></fieldset>';

echo $sHTML;
?>