<?php
$collection = $this->_getCollection();
?>
<?php if (count($collection) > 0) : ?>
	<div class="sl-wrap">
		<div class="at-slider">
			<?php foreach ($collection as $item) : ?>
				<?php $_imageList = $item->getImageList(); ?>
				<?php if ($item->getIsActive() == true): ?>
					<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
						<?php foreach ($_imageList as &$_item) : ?>
							<a class="slider-item" 
							   style="background: url(<?php echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE); ?>) 50% 50% no-repeat;" 
							   <?php if($_item['label']):?>
							   href="<?php echo $_item['label']; ?>" 
							   <?php endif?>
							   target="<?php echo $_item['target']; ?>">
							   
								<span class="container relative block">
									<span class="bgsub">
										<span class="subtext"><?php echo $_item['image_text']; ?></span>
									</span>
								</span>			
							</a>
						<?php endforeach; ?>
					<?php endif; ?>
				<?php endif; ?>
			<?php endforeach; ?>
		</div>
		<div class="container relative">
			<a href="" class="btn-prev"></a>
			<a href="" class="btn-next"></a>
		</div>
	</div>
<?php endif; ?>
