<?php
$collection = $this->_getCollection();
?>
<?php if (count($collection) > 0) : ?>
	<div id="partner" class="container_partner">
		<ul id="b_partner" class="slide-partner">
			<?php foreach ($collection as $item) : ?>
				<?php $_imageList = $item->getImageList(); ?>
				<?php if ($item->getIsActive() == true): ?>
					<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
						<?php
						foreach ($_imageList as &$_item) :?>
							<li>
								<a href="<?php echo $_item['label']; ?>" target="<?php echo $_item['target']; ?>">
									<img src="<?php echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE); ?>" />				
								</a>
							</li>
						<?php endforeach; ?>
					<?php endif; ?>
				<?php endif; ?>
			<?php endforeach; ?>
		</ul>
	</div>

<?php endif; ?>