
<?php
$_cartQty = $this->getSummaryCount();
if (is_null($_cartQty))
	$_cartQty = 0;
?>
<div class="cart-wrap">
	<a href="<?php echo $this->getUrl('checkout/cart') ?>">
		<span class="iconcart"><?php echo $this->__('My Cart') ?>
			<?php $_cartQty = $this->getSummaryCount() ?>
			<?php if ($_cartQty > 0): ?>
				(<span class="num"><?php echo $_cartQty ?></span>)
			<?php else: ?>
				(<span class="num"><?php echo $this->__('0') ?></span>)
			<?php endif ?>
		</span>
	</a>
	<div class="details rounded">
		<i class="fa fa-sort-asc"></i>
		<div class="details-border"></div>
		<?php $_items = $this->getRecentItems() ?>
		<?php if (count($_items)): ?>
			<ul id="cart-sidebar" class="mini-products-list">
				<?php foreach ($_items as $_item): ?>
					<?php echo $this->getItemHtml($_item) ?>
				<?php endforeach; ?>
			</ul>
			<div class="actions">
				<a class="bottoncss3 rounded" href="<?= $this->getUrl('checkout/cart') ?>" class="btn btn-primary btn-small" style="color:#fff;" title="<?php echo $this->__('Cart') ?>"><?php echo $this->__('Proceed to Checkout'); ?> (<?= $_cartQty ?>)</a>
			</div>
		<?php else: ?>
			<p><?php echo $this->__('Your cart is empty.') ?></p>
		<?php endif ?>
	</div>
	<div class="clear"></div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function () {
		jQuery(".cart-wrap").mouseenter(function () {
			jQuery(this).find('.details').stop().slideDown(100);
		});
		jQuery(".cart-wrap").mouseleave(function () {
			jQuery(this).find('.details').stop().slideUp(100);
		});
	});
</script>
