<div id="loadingmask" style="display: none;"> 
    <div class="loader" id="loading-mask-loader"><img src="<?php echo $this->getSkinUrl("images/ajax-loader-tr.gif")?>" alt="<?php echo $this->__('Loading...') ?>"/><?php echo $this->__('An email will be sent to this address.') ?></div> 
    <div id="loading-mask"></div> 
</div>

<script type="text/javascript">
    function testConnection () {
        var reloadurl = '<?php echo $this->getUrl('smtp/smtp/test') ?>'; 
        Element.show('loadingmask'); 
        new Ajax.Request(reloadurl, { 
            method: 'post', 
            parameters: {form_key:'<?php echo $this->getFormKey(); ?>',to:$('smtp_test_smtp_send_email_to').value}, 
            onComplete: function(transport) { 
                Element.hide('loadingmask'); 
                alert("An email has been sent to "+$('smtp_test_smtp_send_email_to').value+". If you received successfully this email, it means you SMTP has been configured correctly.") 
            } 
        });
    }    
</script>
<button onclick="javascript:testConnection(); return false;" class="scalable" type="button" id="<?php echo $this->getHtmlId(); ?>">
    <span><?php echo $this->escapeHtml($this->getButtonLabel()); ?></span>
</button>