<?php 
$textplateDesigned = $this->getTextplateDesinged();
?>
<form name="frmtemplate" id="frmtemplate" action="<?php echo $this->getUrl('text2image/index/confirm');?>" method="post">
    <div id="hidden_field">
        <input type="hidden" id="product_url" value="<?php echo Mage::registry('product_url')?>" name="product_url" />
        <input type="hidden" id="template_file" value="" name="template_file" />
        <input type="hidden" id="maxline_textplate" value="" name="maxline" />
        <input type="hidden" id="template_width" value="" name="template_width" />
        <input type="hidden" id="template_height" value="" name="template_height" />
        <input type="hidden" id="inkpad_id" value="" name="inkpad_id"/>
        <input type="hidden" id="product_id" value="<?php $this->getProduct()->getId()?>" name="product_id"/>
        <input type="hidden" id="shape" value="" name="shape"/>
        <input type="hidden" id="textplate_id" name="textplate_id" value="<?php echo $this->getTextplate()->getId() ?>" />
        <input type="hidden" id="stickers_id" name="stickers_id" value="" />
        <input type="hidden" id="has_border" name="has_border" value="<?= isset($textplateDesigned['has_border'])?$textplateDesigned['has_border']:'1';?>" />
        <input type="hidden" id="border_style" name="border_style" value="<?= isset($textplateDesigned['border_style'])?$textplateDesigned['border_style']:'';?>" />
        <input type="hidden" id="border_width" name="border_width" value="<?=  isset($textplateDesigned['border_width'])?$textplateDesigned['border_width']:'0.3';?>" />
        <input type="hidden" id="auto_width" name="auto_width" value="1" />
        <input type="hidden" id="auto_size" name="auto_size" value="<?= (isset($textplateDesigned['auto_size']) && $textplateDesigned['auto_size'] === 0)?$textplateDesigned['auto_size']:'1';?>" />
        <input type="hidden" id="inkpad_color" name="inkpad_color" value="<?= isset($textplateDesigned['inkpad_color'])?$textplateDesigned['inkpad_color']:'black';?>" />
        <input type="hidden" id="line_height" name="line_height" value="<?= isset($textplateDesigned['line_height'])?$textplateDesigned['line_height']:'0.3';?>" />
        <input type="hidden" id="zoom_size" name="zoom_size" value="0" />
        <input type="hidden" id="templateType" name="templateType" value="STAMP" />
        <input type="hidden" id="template_id" name="template_id" value="" />
        <?php if(strtolower($this->getTextplateShap()) == "circle" || strtolower($this->getTextplateShap()) == "oval"):?>
	    <div id="hiddentexttop">
	    	<input type="hidden" id="hidden_text_top" name="data[text][]" value="Your company">
	    	<input type="hidden" id="hidden_font_top" name="data[font][]" value="arial">
	    	<input type="hidden" id="hidden_size_top" name="data[size][]" value="12">
	    	<input type="hidden" id="hidden_type_top" name="data[type][]" value="texttop">
	    	<input type="hidden" id="hidden_left_top" name="data[left][]" value="0">
	    	<input type="hidden" id="hidden_top_top" name="data[top][]" value="0">
	    	<input type="hidden" id="hidden_style_top" name="data[style][]" value="">
	    	<input type="hidden" id="hidden_color_top" name="data[color][]" value="000000">
	    	<input type="hidden" id="hidden_alignment_top" name="data[alignment][]" value="0">
	    </div>
	    <div id="hiddentextbottom">
	    	<input type="hidden" id="hidden_text_bottom" name="data[text][]" value="your address">
	    	<input type="hidden" id="hidden_font_bottom" name="data[font][]" value="arial">
	    	<input type="hidden" id="hidden_size_bottom" name="data[size][]" value="12">
	    	<input type="hidden" id="hidden_type_bottom" name="data[type][]" value="textbottom">
	    	<input type="hidden" id="hidden_left_bottom" name="data[left][]" value="0">
	    	<input type="hidden" id="hidden_top_bottom" name="data[top][]" value="0">
	    	<input type="hidden" id="hidden_style_bottom" name="data[style][]" value="">
	    	<input type="hidden" id="hidden_color_bottom" name="data[color][]" value="000000">
	    	<input type="hidden" id="hidden_alignment_bottom" name="data[alignment][]" value="0">
	    </div>
	    <?php endif?>
    </div>
</form>