<div class="col-sm-12 col-md-7">
    <?php  echo $this->getChildHtml('textplate.editor.text'); ?>
</div>
<div class="col-md-5 fileupload2 hide-responsive">
     <?php  echo $this->getChildHtml('textplate.editor.image'); ?>
</div>
 <?php  echo $this->getChildHtml('textplate.editor.hidden'); ?>