<div class="border-stamp">
    <?php echo $this->__("Add border around content");?>
    <div class="button-holder button-holder2">
        <span class="frametype">Frame type:</span>
        <span>
            <input type="radio" class="regular-radio" onClick="frameType('NONE',this)" name="radio-2-set" id="radio-2-0">
            <label class="frmborder0" for="radio-2-0"></label>
        </span>
        <span>
            <input type="radio" class="regular-radio frameType" onClick="frameType('BASIC',this)" name="radio-2-set" id="radio-2-1">
            <label class="frmborder1" for="radio-2-1"></label>
        </span>
        <span>
            <input type="radio" class="regular-radio frameType" onClick="frameType('DBL',this)" name="radio-2-set" id="radio-2-2">
            <label class="frmborder2" for="radio-2-2"></label>
        </span>
        <span>
            <input type="radio" class="regular-radio frameType" onClick="frameType('DBL_THICK',this)" name="radio-2-set" id="radio-2-3">
            <label class="frmborder3" for="radio-2-3"></label>
        </span>
        <span>
            <input type="radio" class="regular-radio frameType" onClick="frameType('DBL_THIN_THICK',this)" name="radio-2-set" id="radio-2-4">
            <label class="frmborder4" for="radio-2-4"></label>
        </span>
        <span>
            <input type="radio" class="regular-radio frameType" onClick="frameType('DBL_THICK_THIN',this)" name="radio-2-set" id="radio-2-5">
            <label class="frmborder5" for="radio-2-5"></label>
        </span>
        <span>
            <input type="radio" class="regular-radio frameType" onClick="frameType('DASHED',this)" name="radio-2-set" id="radio-2-6">
            <label class="frmborder6" for="radio-2-6"></label>
        </span>
        <span>
            <input type="radio" class="regular-radio frameType" onClick="frameType('DOTTED',this)" name="radio-2-set" id="radio-2-7">
            <label class="frmborder7" for="radio-2-7"></label>
        </span>
    </div>
    <div class="clear"></div>
    <div class="frame-think">
        <span class="frametype">Frame thickness:</span>
        <span><input id="frameThickness" value="0.3" type="number" max="5" min="0.3" step="0.1" onchange="changeBorderWidth(this)"></span>
    </div>
    
</div>  