<h2>
    <?php echo $_product->getName(); ?>
    
    <?php if($isSeal): ?>
        <span><?php echo $this->__('Including embossing presses and insert incl. die'); ?></span>
    <?php else: ?>
        <?php if($isTextplate): ?>
            <span>&nbsp;</span>
        <?php else: ?>
            <span><?php echo $this->__('Including stamp, inkpad and textplate'); ?></span>
        <?php endif; ?>
    <?php endif; ?>
</h2>

<span class="price"><?php echo strip_tags($this->getPriceHtml($_product, true)); ?></span>
<a href="javascript:void(0)" class="opdConfirm rounded submitButton"><?php echo $this->__('Order this stamp and design'); ?></a>
<div class="clear"></div>