<?php
    $_product       = $this->getProduct();
    $attributeSetId = $_product->getData('attribute_set_id');
    $isSeal         = ($attributeSetId == SEALS_ATTRIBUTE_SET_ID)? true : false;
    $isTextplate    = ( in_array($attributeSetId, unserialize(TEXTPLATE_ATTRIBUTE_SET_ID)) )? true : false;
    $rate_px_mm = 3.77952775905;
    $_textplate = $this->getTextplate();
    /*$textplateDesigned = $this->getTextplateDesinged();
     if(!empty($textplateDesigned)){
    	$textplateDesigned = Mage::helper('text2image')->convertSerialize2Array($textplateDesigned);
    } */
?>

<script type="text/javascript">
    var imgUploaded = null; 
    var textplateDesigned = '<?php echo $this->getRequest()->getParam('data');?>';
    var product_id = '<?php echo $_product->getId(); ?>';
    var textplate_id = '<?php echo $_textplate->getId();?>';
    activeFont = 'arial';
    activeFontSize = 8;
    var jsonFont = jQuery.parseJSON('<?php echo json_encode(Mage::helper('text2image')->getFontList())?>');
    var jsonSize = jQuery.parseJSON('<?php echo json_encode(Mage::helper('text2image')->getSizeList())?>');
    var baseUrl = '<?php echo Mage::getBaseUrl() ?>';
    var skinUrl = '<?php echo $this->getSkinUrl(); ?>';
    var websiteURL = '<?php echo Mage::getBaseUrl() ?><?php // echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)?>';
    var template_width = 0;
    var template_height = 0;
    var template_id = 0;
    var previewUrl = '<?php echo $this->getUrl('text2image/ajax/template/');?>';
    var templateUrl = '<?php echo $this->getUrl('text2image/image/template');?>';
    var loadingImgUrl = "<?php echo $this->getSkinUrl('images/fancybox_loading.gif')?>";
    //language
    //<![CDATA[
    Translator.add('Maximum %s lines', '<?php echo $this->__('Maximum %s lines'); ?>');
    Translator.add("Maximum %s lines up and %s lines down", "<?php echo $this->__("Maximum %s lines up and %s lines down"); ?>");
    Translator.add("This template has maximum %s lines", "<?php echo $this->__("This template has maximum %s lines"); ?>");
    Translator.add("your text is over textplate", '<?php echo $this->__("your text is over textplate"); ?>');
    Translator.add("Choose", '<?php echo $this->__("Choose"); ?>');
    Translator.add("Cancel", '<?php echo Mage::helper('sales')->__("Cancel"); ?>');
    Translator.add("Please choose your textplate", '<?php echo $this->__("Please choose your textplate"); ?>');
    Translator.add("Preview", '<?php echo $this->__("Preview"); ?>');
    //]]>
</script>

<div id="dialog-confirm" style="z-index:1000" title="<?php echo $this->__("Do you want use this image?")?>">
    <p style="text-align:center">
        <img src="" id="img_uploaded" />
    </p>
</div>

<div id="dialog-preview" style="z-index:1000" title="<?php echo $this->__("Do you want use this image?")?>">
    <div class="createdesign" style="width: 354px;">
        <div class="designmin">
            <div id="image_confim">  
                <img src="<?php echo $this->getSkinUrl('images/loading.gif')?>" id="img_preview" />  
            </div>
        </div>
        <div class="zoom">
            <span class="text"><?php echo $this->__("zoom")?></span>
            <div class="zoomsize">
                <div class="zoomsizeleft"></div>
                <div class="zoomsizemin" id="zoomsizemin"><a href=""><img id="zoombar" src="<?php echo $this->getSkinUrl('images/text2image/redesign3-1-3_09.jpg'); ?>"></a></div>
                <div class="zoomsizeright"></div>
            </div>
        </div>
    </div>
</div>

<div id="dialogConfirmClearText" title="<?php echo $this->__("Warning")?>">
    <p align="center">
        <span class="ui-icon ui-icon-alert"></span>
        <?php echo $this->__("Do you want clear Textplate ?")?>
    </p>
</div>