<span><?php echo $this->__("Color")?></span>
<div class="clear"></div>
<div class="design-choose-color">
    <div>
        <div id="inkpadColor" class="button-holder">
            <span>
                <input type="radio" class="regular-radio" name="radio-2-set" id="radio-1-1" color="black" inkpad="" onclick="chooseInkpadColor(this)">
                <label class="black" for="radio-1-1"></label>
            </span>
            <span>
                <input type="radio" class="regular-radio" name="radio-2-set" id="radio-1-2" color="red" inkpad="" onclick="chooseInkpadColor(this)">
                <label class="red" for="radio-1-2"></label>
            </span>
            <span>
                <input type="radio" class="regular-radio" name="radio-2-set" id="radio-1-3" color="blue" inkpad="" onclick="chooseInkpadColor(this)">
                <label class="blue" for="radio-1-3"></label>
            </span>
        </div>
    </div>
</div>