 <?php echo $this->getChildHtml('textplate.left.list'); ?>  
 <div class="choose-temp-wrap">
    <span><?php echo $this->__("Choose Template")?></span>
    <div id="dd" class="wrapper-dropdown" tabindex="1">
        <span><?php echo $this->__("Choose text font nr.1")?></span>
        <ul class="dropdown" id="texplate_list"></ul>
    </div>
    <?php echo $this->getChildHtml('textplate.left.inkpad'); ?>  
    <div class="clear-textplace">
        <span class="text" onClick="usePDF();"><?php echo $this->__("Clear")?></span>
    </div>
    <div class="clear"></div>
    <?php echo $this->getChildHtml('textplate.left.border'); ?>  
</div>