<div class="design-view">
    <p><?php echo $this->__('Design preview'); ?></p>
    <div class="design-pre-img">
        <span class="helper"></span>
        <img src="<?php echo $this->getSkinUrl('images/fancybox_loading.gif'); ?>" id="template_image" />
    </div>
    <!--  -->
    <div class="upload-wrap">
        <div class="fileUpload btn btn-primary">
        <form action="<?php echo Mage::getBaseUrl();?>text2image/ajax/upload?textplate_id=<?php echo Mage::registry('current_textplate')->getId();?>" method="post" enctype="multipart/form-data" class="frm_upload">
            <span class="imgupload">Upload image</span>
            <input type="file" name="uploadfile" accept="pdf/*" class="upload">
        </form>
        </div>
        <div class="fileUpload btn btn-primary">
            <form action="<?php echo Mage::getBaseUrl(); ?>text2image/ajax/upload?textplate_id=<?php echo Mage::registry('current_textplate')->getId(); ?>" method="post" enctype="multipart/form-data" class="frm_upload">   
                <span class="text"><?php echo $this->__('Upload PDF'); ?></span>
                <input type="file" name="uploadfile" accept="pdf/*" class="upload">
            </form>   
        </div>
        <div class="preview">
            <span><?php echo $this->__('Zoom'); ?></span>
            <span id="zoomFirst" class="zoomFirst">
                <a style="position: relative; left: 0px;" class="ui-draggable" id="zoomTemplate" href="#">
                    <img src="<?php echo $this->getSkinUrl('images/text2image/croll.png'); ?>">
                </a>
            </span>             
            <span style="margin-left: 5px;" id="zoomRate">100</span> %
        </div>        
    </div>
     <div class="upload-wrap">
         <input id="autoSize" type="checkbox" name="autoSize" checked="checked">
         <label for="autoSize">Auto size</label>     
     </div>
    <!--  -->
</div>