<?php
$currentCurrencyCode = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();

$productMachine = $this->getData('productMachine');
$productTextplate = $this->getData('productTextplate');
$productStickers = $this->getData('productStickers');
$redesignUrl = $this->getData('redesignurl');
$textplateSize = Mage::getSingleton('text2image/stamptemplate');
$sizes = $textplateSize->getAvailableSize();
$dimensions = $sizes[$productTextplate->getData("textplate_size")];

$totalPrice = $productMachine->getPrice() + $productTextplate->getPrice();
$stickersPrice = 0;
if (!empty($productStickers)) {
    foreach ($productStickers as $item) {
        $stickersPrice += $item->getPrice();
    }
}

$totalPrice += $stickersPrice;
?>
<div class="table-responsive">
    <table class="table">
        <tr>
            <td valign="top">
                <h3 style="margin-bottom: 10px; font-size: 13px; font-weight: normal; text-transform: uppercase;"><?php echo $this->__('Preview your stamp'); ?> ( <?php echo $this->__('Dimensions') . ': ' . $dimensions; ?> mm )</h3>
                <div class="wrap-img-boder">
                    <div class="wrap-img-confirm">
                        <div class="cfReview rounded">
                            <img id="image_textplate" src="<?php echo $this->getSkinUrl('images/fancybox_loading.gif'); ?>" />
                        </div>
                    </div>
                </div>
                <div id="redesign"><a href="<?php echo $this->getUrl('text2image') . $redesignUrl; ?>"><?php echo $this->__('REDESIGN'); ?></a></div>
            </td>
            <td width="10px">&nbsp;</td>
            <td valign="top"> 
                <h3 style="margin-bottom: 10px; font-size: 13px; font-weight: normal; text-transform: uppercase;"><?php echo $this->__('Components of your stamp'); ?></h3>
                <div class="textconfirm" style="float: left;">
                    <table>
                        <tr>
                            <th><?php echo $this->__('Product'); ?></th>
                            <th><?php echo $this->__('Qty'); ?></th>
                            <th><?php echo $this->__('Price'); ?></th>
                        </tr>
                        <?php if (!empty($productMachine)): ?>
                            <tr>
                                <td  class="quantity" style="padding-left: 0;">1</td>
                                <td><?php echo $this->__('Embossing presses'); ?></td>
                                <td><?php echo $this->getPriceHtml($productMachine, true) ?></td>
                            </tr>
                        <?php endif ?>
                        <?php if (!empty($productTextplate)): ?>
                            <tr>
                                <td class="quantity" style="padding-left: 0;">1</td>
                                <td><?php echo $this->__('Insert incl. die'); ?></td>
                                <td><?php echo $this->getPriceHtml($productTextplate, true) ?></td>
                            </tr>
                        <?php endif ?>
                        <?php if (!empty($productStickers)): ?>
                            <tr>
                                <td  class="quantity" style="padding-left: 0;"><?php echo count($productStickers); ?></td>

                                <td><?php echo $this->__('Stickers/wafers'); ?></td>
                                <td><?php echo $currentCurrencyCode . $stickersPrice; ?></td>
                            </tr>
                        <?php endif ?>
                    </table>

                    <form id="frmAddtoCart" name="frmAddtoCart" action="<?php echo $this->helper('checkout/cart')->getAddUrl($this->product); ?>" method="post">
                        <div class="stampprice rounded">
                            <!--<input id="qtyProduct" type="text"  name="qty" value="1" style="width: 22px;" onkeypress="checkEnter(event);" />-->
                            <div class="price-box">
                                <span class="price"><?php echo $currentCurrencyCode . $totalPrice; ?></span>
                            </div>
                            <div class="clear"></div>
                        </div>     
                        <div class="confirmicon rounded"><input id="chkAgree" type="checkbox" /> &nbsp; <label for="chkAgree"><?php echo $this->__('I agree that my design will be produced as it appears above') ?></label></div>
                        <div class="addtocart rounded"><a id="addtocart" href="javascript:void(0)"><?php echo $this->__('Add to cart') ?></a></div>
                            <?php if (!empty($productMachine)): ?>
                            <input type="hidden" name="bundle_option[<?php echo $productMachine->getData('option_id'); ?>]" value="<?php echo $productMachine->getData('selection_id'); ?>" />
                        <?php endif ?>
                        <?php if (!empty($productTextplate)): ?>
                            <input type="hidden" name="bundle_option[<?php echo $productTextplate->getData('option_id'); ?>]" value="<?php echo $productTextplate->getData('selection_id'); ?>" />
                            <input type="hidden" name="extra_options[design_image]" value="<?php echo $this->getDataurl(); ?>" />
                        <?php endif ?>
                        <?php if (!empty($productStickers)): ?>
                            <?php foreach ($productStickers as $item): ?>    
                                <input type="hidden" name="bundle_option[<?php echo $item->getData('option_id'); ?>][]" value="<?php echo $item->getData('selection_id'); ?>" />
                            <?php endforeach; ?>    
                        <?php endif ?>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>


<script type="text/javascript">

    var currencySymbol = '<?php echo $currentCurrencyCode; ?>';
    var productPrice = 0;

    jQuery(document).ready(function() {
        jQuery('#image_textplate').attr('src', '<?php echo Mage::getBaseUrl() . 'text2image/image/template?data=' . $this->getDataurl(); ?>');
        var productPrice = parseFloat(jQuery('.stampprice .price-box .price').html().replace(currencySymbol, ''));
        jQuery('#addtocart').on('click', function() {
            if (jQuery('#chkAgree').is(':checked')) {
                jQuery(this).unbind('click');
                jQuery('#frmAddtoCart').submit();
            }
            else {
                alert('<?php echo $this->__('Please argee your design template') ?>');
                return false;
            }
        });
    });
</script>