<?php $items = $this->getStickers(); ?>

<div class="stickersBox rounded">
<?=$this->__("Chose stickers")?> <span style="color: red;">(<?=$this->__("Optional")?>)</span>
<table style="margin-top: 3px;">
    <?php foreach($items as $item): ?>
        <tr>
            <td>
                <input class="stickers" type="checkbox" name="stickers[]" value="<?php echo $item->getId(); ?>" id="<?php echo $item->getId(); ?>">
            </td>
            <td align="left">
                <label for="<?php echo $item->getId(); ?>"><?php echo $item->getName(); ?></label>
            </td>                                                                                 
        </tr>
    <?php endforeach; ?>
</table>
</div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.stickers').click(function(){
            var checkboxVal  = jQuery(this).val();
            var strickersVal = jQuery('#stickers_id').val();
            
            if (jQuery(this).is(':checked')){
                if( strickersVal == '' )
                    strickersVal =  strickersVal + checkboxVal;
                else
                    strickersVal =  strickersVal + ',' + checkboxVal;
            }else{
                strickersVal =  strickersVal.replace(',' + checkboxVal, '');
                strickersVal =  strickersVal.replace(checkboxVal, '');
            }
            jQuery('#stickers_id').val(strickersVal);
        });
    });
</script>