
<div class="op-tab">
    <div class="op-img">
        <span><img style="margin-top: 10px" src="<?php echo $this->helper('catalog/image')->init(Mage::registry('current_product'), 'small_image')->resize(145, 145); ?>" alt=""></span>
    </div>
    <div class="info-hotline">
        <div class="info-hotline-text">
            <span class="suportdes">Support design</span>
            <span class="suportphone"><?php echo Mage::getStoreConfig('general/store_information/phone');?></span>
        </div>
    </div>
    <div class="clear"></div>
<?php echo $this->getChildHtml('question')?>
</div>
