<?php
if ($this->helper ( 'text2image' )->productSetType ( $this->getProduct ()->getAttributeSetId () ) == 'seal') {
	$isSeal = true;
} elseif ($this->helper ( 'text2image' )->productSetType ( $this->getProduct ()->getAttributeSetId () ) == 'textplate') {
	$isTextplate = true;
}
?>
<div class="title1"><?php echo $this->__('Design tools'); ?></div>
<div class="rounded1 <?php echo (!$isSeal)? 'content1': 'content2'; ?>">
	<div class="uploadButton">
		<div class="item rounded upload imgupload">
			<span class="icon"></span>
			<form id="frm_upload"
				action="<?php echo Mage::getBaseUrl();?>text2image/ajax/upload?textplate_id=<?php echo $this->getTextplate()->getId();?>"
				method="post" enctype="multipart/form-data" class="frm_upload">
				<input id="imgUpload_main" type="file" name="uploadfile"
					accept="image/*" class="fileupload"> <span class="text"><?php echo $this->__('Upload image'); ?></span>
			</form>
		</div>
		<div class="item rounded upload pdfupload">
			<span class="icon"></span>
			<form id="frm_upload2"
				action="<?php echo Mage::getBaseUrl();?>text2image/ajax/upload?textplate_id=<?php echo $this->getTextplate()->getId();?>"
				method="post" enctype="multipart/form-data" class="frm_upload">
				<input id="pdfUpload_main" type="file" name="uploadfile"
					accept="pdf/*" class="fileupload"> <span class="text"><?php echo $this->__('Upload PDF'); ?></span>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<?php if( !$isSeal ): ?> 
    <div class="item rounded template usePDF">
		<span class="icon"></span> <span class="text" onclick="usePDF();"
			style="hover: poiter;"><?php echo $this->__('Clear textplate'); ?></span>
	</div>
	<div class="item rounded inkpad">
        <?php  echo $this->getChildHtml('textplate.tool.inkpad'); ?>
    </div>
    <?php else: ?>
    	<?php  echo $this->getChildHtml('textplate.tool.sticker'); ?>
    <?php endif; ?>
    <div class="clear" style="height: 10px;"></div>

	<div class="toolGroup rounded">
		<p>
			<input onclick="addBorderToTextplate(this);" type="checkbox" name=""
				id="addBorder">&nbsp;&nbsp;<label
				title="<?php echo $this->__('Add border around content'); ?>"
				for="addBorder"><?php echo $this->__('Add border around content'); ?></label>
		</p>
		<div id="frameType">
			<span style="float: left;"><?php echo $this->__('Frame type'); ?></span>
			<ul>
				<li><a class="frameType" href="javascript:void(0)"
					onclick="frameType('BASIC',this)"><img
						src="<?php echo $this->getSkinUrl('images/text2image/ft-1.jpg'); ?>" /></a></li>
				<li><a class="frameType" href="javascript:void(0)"
					onclick="frameType('DBL',this)"><img
						src="<?php echo $this->getSkinUrl('images/text2image/ft-2.jpg'); ?>" /></a></li>
				<li><a class="frameType" href="javascript:void(0)"
					onclick="frameType('DBL_THICK',this)"><img
						src="<?php echo $this->getSkinUrl('images/text2image/ft-3.jpg'); ?>" /></a></li>
				<li><a class="frameType" href="javascript:void(0)"
					onclick="frameType('DBL_THIN_THICK',this)"><img
						src="<?php echo $this->getSkinUrl('images/text2image/ft-4.jpg'); ?>" /></a></li>
				<li><a class="frameType" href="javascript:void(0)"
					onclick="frameType('DBL_THICK_THIN',this)"><img
						src="<?php echo $this->getSkinUrl('images/text2image/ft-5.jpg'); ?>" /></a></li>
				<li><a class="frameType" href="javascript:void(0)"
					onclick="frameType('DASHED',this)"><img
						src="<?php echo $this->getSkinUrl('images/text2image/ft-6.jpg'); ?>" /></a></li>
				<li><a class="frameType" href="javascript:void(0)"
					onclick="frameType('DOTTED',this)"><img
						src="<?php echo $this->getSkinUrl('images/text2image/ft-7.jpg'); ?>" /></a></li>
			</ul>
		</div>
		<div class="frameThickness">
			<label for="frameThickness"><?php echo $this->__('Frame thickness'); ?></label>
			<div class="bgCBB">
				<input type="text" value="0.3" name="" id="frameThickness"
					onchange="changeTexboxValue(this.value, 'border_width');"> <span
					class="cover"> <span class="asc"
					onclick="plus_minus(document.getElementById('frameThickness'), '+', 0.1, 5, 0.3);"
					onmousedown="changeBGPosition(this, 'down');"
					onmouseup="changeBGPosition(this, 'up');">&nbsp;</span> <span
					class="desc"
					onclick="plus_minus(document.getElementById('frameThickness'), '-', 0.1, 5, 0.3);"
					onmousedown="changeBGPosition(this, 'down');"
					onmouseup="changeBGPosition(this, 'up');">&nbsp;</span>
				</span>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="item rounded faq1" style="position: relative;">
		<span class="icon"></span> <span class="text"><?php echo $this->__('Need help? Click to see FAQ'); ?></span>
		<span class="arrow open" onclick="jQuery('.faq').show();">&nbsp;</span>
                    <?php echo $this->getChildHtml('question')?>
                </div>
</div>