<?php
$items = $this->getQuestion();
?>
<div class="faq rounded help-wrap">
    <p><?php echo $this->__('Need help? Click to see FAQ'); ?></p>
    <ul id="questions">
        <?php foreach ($items as $item): ?>
            <li class="item">
                <a href="javascript:void(0)"><i class="fa fa-info-circle"></i><?php echo $item->getData('content'); ?></a>
                <div class="tooltip rounded">
                    <div class="header"></div>
                    <div class="content">
                        <b><?php echo $item->getData('content'); ?></b>
                        <p style="margin: 10px 0; color: #ad1b25; font-size: 14px;"><b><?php echo $this->__('Answer'); ?></b></p>
                        <p style="text-align: justify;"><?php echo $item->getData('answer'); ?></p>
                    </div>
                    <div class="footer"></div>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
</div>