<?php $websites = Mage::app()->getWebsites(); ?>

<?php if(count($websites)>1): ?>
<?php 
    $baseUrl = ( isset($_SERVER["https"]) )? 'https://': 'http://'; 
    $baseUrl .= $_SERVER['SERVER_NAME'] . '/'; 
?>

<div style="display: none;">
    <ul id="languageSwitcher">
    <?php foreach ($websites as $website): ?>
        <?php foreach ($website->getGroups() as $group): ?>
            <?php $stores = $group->getStores(); ?>
            <?php if( count($stores) > 1 ): ?>
                <?php foreach ($stores as $store): ?>
                    <?php 
                        if( $store->getIsActive() == 0 )
                            continue;
                            
                        $defaultCode = $website->getDefaultStore()->getCode();
                        if( $store->getCode() == $defaultCode ){
                            $url = $baseUrl . str_replace(array('stamp_', 'base'), '', $website->getCode()) . '/?___store='.$store->getCode();    
                        }else{
                            $url = $baseUrl . str_replace(array('stamp_', 'base'), '', $website->getCode()) . '/?___store='.$store->getCode();    
                        }
                    ?>
                    <li>
                        <a href="<?php echo $url; ?>">
                            <img src="<?php echo $this->getSkinUrl('images/flag/'.$store->getCode().'.jpg'); ?>" alt=""><br/>
                            <?php echo $this->htmlEscape($store->getName()) ?>
                        </a>
                    </li>  
                <?php endforeach; ?>    
            <?php else: ?>     
                <?php 
                    $store = array_shift($stores);
                    
                    if(!$store->getIsActive()) break;
                    
                    if( $website->getCode() == 'base' )
                        $url = $baseUrl.'uk'; 
                    else
                        $url = $baseUrl . str_replace('stamp_', '', $website->getCode()); 
                ?>
                <li>
                    <a href="<?php echo $url; ?>">
                        <img src="<?php echo $this->getSkinUrl('images/flag/'.$store->getCode().'.jpg'); ?>" alt=""><br/>
                        <?php echo $this->htmlEscape($store->getName()) ?>
                    </a>
                </li>  
            <?php endif; ?>     
        <?php endforeach; ?>    
    <?php endforeach; ?>
        <li>
            <a href="<?php echo $baseUrl; ?>dk">
                <img src="<?php echo $this->getSkinUrl('images/flag/stamp_no.jpg'); ?>" alt=""><br/>
                <?php echo $this->__('Norway'); ?>
            </a>
        </li>  
        <li>
            <a href="<?php echo $baseUrl; ?>fr">
                <img src="<?php echo $this->getSkinUrl('images/flag/stamp_lu.jpg'); ?>" alt=""><br/>
                <?php echo $this->__('Luxembourg'); ?>
            </a>
        </li>
        <li>
            <a href="<?php echo $baseUrl; ?>de">
                <img src="<?php echo $this->getSkinUrl('images/flag/stamp_au.jpg'); ?>" alt=""><br/>
                <?php echo $this->__('Austria'); ?>
            </a>
        </li>
    </ul>
</div>

<script type="text/javascript">
    jQuery(function(){
        jQuery.superbox.settings = {
            boxId: "superbox", // Id attribute of the "superbox" element
            boxClasses: "rounded", // Class of the "superbox" element
            overlayOpacity: .8, // Background opaqueness
            boxWidth: "506", // Default width of the box
            boxHeight: "auto", // Default height of the box
            loadTxt: "Loading...", // Loading text
            closeTxt: "Close", // "Close" button text
            prevTxt: "Previous", // "Previous" button text
            nextTxt: "Next" // "Next" button text
        };

        jQuery.superbox();
    });
</script>

<?php endif; ?>