.main_design {width:400px; height:250px; background-color:black; display: table-cell; vertical-align: middle }
.textplate { margin: 0 auto;background-color:white; position: relative;}
.drag_item, .drag_item img {position: absolute;}