<?php 
$collection = $this->_getCollection();
$bn_helper_data = Mage::helper('banner');
?>
<?php if (count($collection) > 0) : ?>
	<div class="container">
		<div class="banner_slide">
                    <div class='slide_home_layer'>
                        <a class="video_home_slide" href="#video_home_slide"></a>
                    </div>
			<div id="banner_slide">
				<?php foreach ($collection as $item) : ?>
					<?php $_imageList = $item->getImageList();?>
					<?php if($item->getIsActive()==true):?>
						<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
							<?php 
                                        foreach ($_imageList as &$_item) : 
                                            $onclick = '';
                                            if(strpos($_item['label'], '#') !== FALSE){
                                                $onclick = 'onclick="banner_click(\''.$bn_helper_data->bannerUrlEncode($_item['label'], $_item['image_id'], false).'\')"';
                                            }
                                            $video = $_item['video_url'];
                                        ?>
                                            <a <?php echo $onclick;?> href="<?php echo $bn_helper_data->bannerUrlEncode($_item['label'], $_item['image_id'], true);?>" target="<?php echo $_item['target'];?>">
                                                    <img src="<?php echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE); ?>" data-video='<?php echo $video;?>'/>
                                            </a>
                                            <?php endforeach; ?>
                                    <?php endif; ?>
                            <?php endif; ?>
                    <?php endforeach; ?>
			</div>
		</div>
		<script type="text/javascript">
                    function videoHover(){
                        video = jQuery('#banner_slide').data('nivo:vars').currentImage.attr('data-video');
                        display = jQuery('#video_home_slide').css('display');
                        if(display === 'none'){
                            if(video != ''){
                                jQuery('#video_home_slide object').attr('data', video);
                                jQuery('.slide_home_layer').show();
                            }else{
                                jQuery('#video_home_slide object').attr('data', '');
                                jQuery('.slide_home_layer').hide();
                            }
                        }else{
                            jQuery('.slide_home_layer').hide();
                        }
                    }
			jQuery(document).ready(function() {
                            jQuery('#banner_slide').nivoSlider({
                                    pauseTime: 5000,
                                    pauseOnHover: false,
                                    prevText: '',
                                    nextText: '',
                                    directionNav: false,
                                    afterChange: function(){
                                        videoHover();
                                    },
                                    afterLoad: function(){
                                        videoHover();
                                    }
                            });
                            jQuery(".video_home_slide").fancybox({
                                autoSize : false,
                                fitToView : true,
                                width: 640,
                                height: 360
                            });  
			});
		</script>

		<!--		<div class="slidebanner">
		<div id="loading-image" style="margin:129px 0;text-align:center;">
		<img src="<?php echo $this->getSkinUrl('images/banner/slide-loader.gif') ?>" alt="Loading..." />
		</div>
		<div class="banner_slide">
		<div id="slide">
		<?php foreach ($collection as $item) : ?>
			<?php $_imageList = $item->getImageList();?>
			<?php if($item->getIsActive()==true):?>
				<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
					<?php foreach ($_imageList as &$_item) : ?>
						<a href="<?php echo $_item['label']; ?>" target="_blank">
						<img src="<?php echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE); ?>" />				
						</a>
						<?php endforeach; ?>
					<?php endif; ?>
				<?php endif; ?>
			<?php endforeach; ?>
		</div>
		</div>
		</div>-->
	</div>

	<?php endif; ?>
<div id="video_home_slide">
    <object width="640" height="360" data=""></object>
</div>
