<?php 
$collection = $this->_getCollection();
$bn_helper_data = Mage::helper('banner');
?>
<?php if (count($collection) > 0) : ?>
<div class="banner_category">
	<?php foreach ($collection as $item) : ?>
		<?php $_imageList = $item->getImageList(); ?>
		<?php if($item->getIsActive()==true):?>
			<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
				<?php 
                                foreach ($_imageList as &$_item) : 
                                    $onclick = '';
                                    if(strpos($_item['label'], '#') !== FALSE){
                                        $onclick = 'onclick="banner_click(\''.$bn_helper_data->bannerUrlEncode($_item['label'], $_item['image_id'], false).'\')"';
                                    }
                                ?>
                                    <a <?php echo $onclick;?> href="<?php echo $bn_helper_data->bannerUrlEncode($_item['label'], $_item['image_id'], true);?>" target="<?php echo $_item['target'];?>">
                                            <img src="<?php echo $this->helper('banner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE); ?>" />				
                                    </a>
				<?php endforeach; ?>
			<?php endif; ?>
		<?php endif; ?>
	<?php endforeach; ?>
</div>
<?php endif; ?>