<?php
$temp = $this->getData('availabeSize');
$textplateDesigned = $this->getData('textplateDesigned');
foreach ($data as $i => $value):

    $elements = json_decode($value['elements']);
	if(!empty( $elements) && is_array($elements)){
		$font = $elements[0]->font;
	}else{
		$font = '';
	}
    
    $size = strtolower($temp[$value['textplate_size']]);
    $size = explode('x', $size);
    $dimension['w'] = $size[0];
    $dimension['h'] = $size[1];
    //check textplate designed in the past
    if ($i == 0 && !empty($textplateDesigned)) {
        $result = array();
        foreach ($textplateDesigned as $key => $itemLine) {
            foreach ($itemLine as $item => $option) {
                $result[$item][$key] = $option;
            }
        }
        $value['elements'] = Mage::helper('core')->jsonEncode($result);
    }
    ?>
    <li>
        <a class="template" datefield="<?php echo $value['datefield'] ?>" id="<?php echo $value['template_id'] ?>" data='<?= $value['elements'] ?>' size=<?php echo json_encode($dimension) ?> href="javascript:void(0)">
            <span style="font-family: '<?php echo $font; ?>'"><?php echo $this->__($value['title']); ?></span>
        </a>
    </li>
<?php endforeach; ?>

<script>
    jQuery(document).ready(function()
    {
        var dd = new DropDown(jQuery('#dd'));
        //   jQuery(document).click(function() {
        // all dropdowns
        //  	jQuery('.wrapper-dropdown').removeClass('active');
        //   });
<?php if ($textplateDesigned['template_id']): ?>
            jQuery('#inkpad_color').val('<?php echo $textplateDesigned['inkpad_color'] ?>');
            jQuery('#has_border').val('<?php echo $textplateDesigned['has_border'] ?>');
            jQuery('#border_style').val('<?php echo $textplateDesigned['border_style'] ?>');
            jQuery('#border_width').val('<?php echo $textplateDesigned['border_width'] ?>');
<?php endif ?>
        jQuery('.dropdown .template').click(function(e) {
            jQuery('.dropdown .template').removeClass('active');
            jQuery(this).addClass('active');

            var elements = jQuery.parseJSON(jQuery(this).attr('data'));

            var datefield = jQuery(this).attr('datefield');
            template_id = jQuery(this).attr('id');
            size = jQuery.parseJSON(jQuery(this).attr('size'));
            jQuery('#template_width').val(size.w);
            jQuery('#template_height').val(size.h);
            template_width = size.w;
            template_height = size.h;
            if (elements.length > 0) {
                // set font for newline
                activeFont = elements[0].font;
                // set font size for newline
                activeFontSize = elements[0].size;
            }

            if (datefield == 1)
            {
                jQuery('#templateType').val('DATER');
                if ((e.originalEvent === undefined))
                {
                    elements.each(function(element) {
                        objRow[i] = new TextLineRow(element);
                        objRow[i].fonts = jsonFont;
                        objRow[i].sizes = jsonSize;
                        objRow[i].id = i;//add row id
<?php if (!$textplateDesigned['template_id']): ?>
                            objRow[i].params.top = 0;
                            objRow[i].params.left = 0;
<?php endif ?>
                        var editorLine = objRow[i].generateEditorRow();
                        var hiddenField = objRow[i].generateHiddenField();
                        console.log(editorLine);
                        jQuery('#text-design').append(editorLine);
                        jQuery('#hidden_field').append(hiddenField);
                        i++;
                    })
                }
            }
            else
            {

                if ((e.originalEvent === undefined) || (jQuery('#text-design .item-editer').length == 0 && !jQuery(this).hasClass('usePDF')))
                {
                    elements.each(function(element)
                    {
                        objRow[i] = new TextLineRow(element);
                        objRow[i].id = i;//add row id
<?php if (!$textplateDesigned['template_id']): ?>
                            objRow[i].params.top = 0;
                            objRow[i].params.left = 0;
<?php endif ?>
                        if (element.type == 'text')
                        {
                            objRow[i].fonts = jsonFont;
                            objRow[i].sizes = jsonSize;

                            var editorLine = objRow[i].generateEditorRow();

                            jQuery('#text-design').append(editorLine);
                            var hiddenField = objRow[i].generateHiddenField();
                            jQuery('#hidden_field').append(hiddenField);
                        } else if (element.type == 'texttop' || element.type == 'textbottom') {

                        }
                        else
                        {
                            var hiddenField = objRow[i].generateHiddenField();
                            jQuery('#hidden_field').append(hiddenField);
                            addNewImage(element);
                        }

                        i++;
                    });

                }
            }

            jQuery('.inputtext').first().children().focus();

            if (e.originalEvent !== undefined) {
                document.getElementById('apply_font').checked = true;
                jQuery('#font_main').val(activeFont);
                jQuery('#apply_font').trigger("click");
                jQuery('.font_text').each(function() {
                    font = jQuery('#font_main').val();
                    jQuery(this).val(font);
                    var id = jQuery(this).attr('id').replace('font', '');
                    jQuery('#hidden_font' + id).val(font);
                });
            }

            //load template
            if (template_id) {
                updateTemplate();
            }
        });
<?php if ($textplateDesigned['template_id']): ?>
            jQuery('.template#<?php echo $textplateDesigned['template_id'] ?>').trigger('click');
<?php else: ?>
            jQuery('.dropdown .template').first().trigger('click');
            jQuery('.wrapper-dropdown').removeClass('active');
<?php endif ?>
        jQuery('.inputtext').first().children().focus();
        jQuery('.inputtext').first().children().select();
    });</script>