<?php
$items = $this->getAboutus();
$i = 0;

$lastItemKey = count($items) - 1;
?>
<h1><?php echo $this->__("About us"); ?></h1>

<div class="about-us">
    <?php foreach ($items as $keyItems => $item): ?>
        <?php
        if ($i % 2 == 0) {
            $class = "";
        } else {
            $class = "item-about-right";
        }
        ?>
        <?php if ($i == $lastItemKey):
            ?>

            <div class="col-lg-12">
                <div class="whois">
                    <h1><?php echo $item->getTitle(); ?></h1>
                    <div class="whois-content">
        <?php echo $item->getContent(); ?>
                    </div>
                </div>
            </div>
    <?php else: ?>
            <div class="col-lg-6 item-about <?php echo $class; ?>">
                <h3><?php echo $item->getTitle(); ?></h3>
                <div class="desc-about">
                    <span>
        <?php echo $this->helper('core/string')->truncate($item->getContent(), 170, ' ...', $_remainder, false); ?>
                    </span>
                </div>

                <div class="content-about">
        <?php echo $item->getContent(); ?>
                </div>
            </div>
    <?php endif; ?>

        <?php $i++; ?>
    <?php endforeach; ?>
</div>