<div class="entry-edit" id="design_textplate">
	<div class="entry-edit-head">
		<h4 class="icon-head head-edit-form fieldset-legend">Stamptemplate Design</h4>
		<div class="form-buttons" ></div>
	</div>
	<div id="stamptemplate_base_fieldset" class="fieldset" style="clear:both">
    <!--designtemplate-->
        <div class="designtemplate">
          <!--Help me find the right stamp-->
 
   <!--right-->
   <!--<div class="right_one">-->
    <div class="createdesign_template">
        <div class="main_design">
            <!--designtemplate-->
             <div id="designmin_main">
                <span class="helper"></span>
                <img src="<?php echo $this->getSkinUrl('images/fancybox_loading.gif'); ?>" id="template_image">
            </div>
        </div>
    </div>
    <!--upload-->
    <div class="uploadtimg">
     <p>Upload</p>
         <div class="button_upload" id="button_upload"><a href="javascript:void(0)" style="color:#000000; text-decoration:none; text-transform:uppercase; line-height:45px; font-size:16px">pdf</a></div>
         <input id="fileUpload_main" class="fileupload" size="1" type="file" name="filename" />
     <div style="height:20px; "></div>
    </div>
    <!--end upload-->
  
    <!--text design-->
    <div class="Manage-Templates" id="">
     <div class="title_font_size">
      <div class="titletop">
         <div class="applyfontstamp">
              <?php echo $this->getFontSelect('font_main','font_main')?>
              <input type="checkbox" id="apply_font"><p>Apply</p></div>
              <div class="allcheck">
               <a href=""><img src="<?php echo $this->getSkinUrl('images/text2image/redesign3-1-1_03.jpg');?>"></a>
               <a href=""><img src="<?php echo $this->getSkinUrl('images/text2image/redesign3-1-1_05.jpg');?>"></a>
               <a href=""><img src="<?php echo $this->getSkinUrl('images/text2image/redesign3-1-1_07.jpg');?>"></a>
              </div>
          <div class="standarcen">
              <a class=""><span class="alginment justifyleft"></span></a>
              <a class=""><span class="alginment justifycenter"></span></a>
              <a class=""><span class="alginment justifyright"></span></a>
              <input type="checkbox"><p>Apply</p>
          </div>
      </div>
     </div>
     <div id="main_editor">
     </div>
    </div>
    <!--end text design-->
    <!--add-->
    <div class="addline">
     <div class="addline_icon"><a href="javascript:void(0)" id="add_new_line" ><img  src="<?php echo $this->getSkinUrl('images/text2image/add.jpg');?>"><p>Add new line</p></a></div>
     <div class="erro"><span style=" color:#FF0000">Note:</span>This stamp max 5 line</div>
    </div>
    <!--end add-->
    <!--add-->
    <div class="addline">
		<div class="addline_icon"><input type="checkbox" onclick="javascript:dragable(this.checked);"><p>Auto Size</p></div>
    </div>
    <!--end add-->
    
   <!--end right</div>-->
   <!--end right-->
  <!--end Help me find the right stamp-->
      <div style="clear:both"></div>
        </div>
        <!--end designtemplate-->
        </div>
	
</div>
<div id="hidden_field">
	<input id="template_width" type="hidden" name="template_width" value="<?php echo $this->model->getWidth();?>">
	<input id="template_height" type="hidden" name="template_height" value="<?php echo $this->model->getHeight();?>">
	<input id="shape" type="hidden" name="shape" value="">
	<input id="has_border" type="hidden" value="" name="has_border">
	<input id="border_style" type="hidden" value="" name="border_style">
	<input id="border_width" type="hidden" value="0.3" name="border_width">
	<input id="auto_width" type="hidden" value="1" name="auto_width">
	<input id="auto_size" type="hidden" value="1" name="auto_size">
	<input id="line_height" type="hidden" value="0.3" name="line_height">
	<input id="zoom_size" type="hidden" value="0" name="zoom_size">
	<input id="templateType" type="hidden" value="<?php if($this->model->getDatefield()) echo "DATER"; else echo "STAMP";?>" name="templateType">
	<input id="template_id" type="hidden" value="" name="template_id">
	<input id="inkpad_color" type="hidden" value="black" name="inkpad_color">
</div>
<div id="upload_area" style="postion:absolute;"></div>
<script language="javascript">
var template_id = '<?php echo $this->model->getId();?>';
var jsonElement = eval('<?php echo $this->model->getData('elements')?>');
var rownum = 0;
var jsonTextLine = new Array();
var jsonFont = '<?php echo json_encode(Mage::helper('text2image')->getFontList())?>'.evalJSON();
var jsonSize = '<?php echo json_encode(Mage::helper('text2image')->getSizeList())?>'.evalJSON();
var baseUrl = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) ?>';
var previewUrl = '<?php echo $this->getUrl('text2image/ajax/template/');?>';
var loadingImgUrl = "<?php echo $this->getSkinUrl('images/fancybox_loading.gif')?>";
if(template_id != '')
	var uploadUrl = '<?php echo $this->getUrl('text2image/adminhtml_ajax/upload/template_id/'.$this->model->getId())?>';
else
    var uploadUrl = '<?php echo $this->getUrl('text2image/adminhtml_ajax/upload/')?>';
if(jsonElement ){
	jsonElement.each(function(obj){
		var elementTemplate = new TextLineRow(rownum, obj);
		rownum++;
	}); 
}
   
var oOptions = {};
document.observe("dom:loaded", function() {
	setTimeout(function(){
		updateTemplate();
	}, 600);
	$("add_new_line").observe('click', function(event) {
		generateTextLine();
	});
});
/*  */
//createTemplate(jsonElement);
</script>