<?php
$oPaymate = Mage::getModel('dibsfw/Dibsfw');
$aDibsparmeter = $oPaymate->getCheckoutFormFields();
?>
<h2><?php echo $this->__('DIBSFW_LABEL_24') ?></h2>
<form method="post" id="dibsfw-payment" action="<?php echo $oPaymate->dibsflex_api_getFormAction() ?>">
    <div>
        <?php foreach($aDibsparmeter as $sField => $sVal) {?> 
            <input type="hidden" name="<?php echo $sField ?>" value="<?php echo $sVal ?>" /> 
        <?php } ?>
    </div>
</form>
<?php
    // Save the order into the dibs_orderdata table
    $oPaymate->dibsflex_api_processDB($aDibsparmeter['orderid']);
?>
	
<script type="text/javascript">
    setTimeout("document.getElementById('dibsfw-payment').submit();",1000);
</script>
