#main_editor .remove{
	background-image: url("../images/text2image/remove.png");
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 20px;
	width: 20px;
}
#main_editor .selectfont, #main_editor .selectsize, #main_editor .styletext, #main_editor .alignmentbutton{float:left;margin-left:5px;}

#designmin_main{
    border-bottom: 1px solid #e0e0e0;
    float: left;
    height: 250px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}
#designmin_main .helper, .designmin .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.row-editor{width: 100%;padding:5px;}
.clear-both{clear:both};

.styletext span.bold{
	background-image: url("../images/text2image/style-bold.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
}
.styletext span.bold.active{
	background-color: #cccccc;
	background-image: url("../images/text2image/style-bold.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
}

.styletext span.italic{
	background-image: url("../images/text2image/style-italic.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
}
.styletext span.italic.active{
	background-color: #cccccc;
	background-image: url("../images/text2image/style-italic.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
}

.styletext span.underline{
	background-image: url("../images/text2image/style-underline.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
}
.styletext span.underline.active{
	background-color: #cccccc;
	background-image: url("../images/text2image/style-underline.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
}

.alignmentbutton span.left{
	background-image: url("../images/text2image/alignment-left.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
}
.alignmentbutton span.left.active{
	background-color: #cccccc;
	background-image: url("../images/text2image/alignment-left.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
}

.alignmentbutton span.center{
	background-image: url("../images/text2image/alignment-center.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
	margin-left:5px;
}
.alignmentbutton span.center.active{
	background-color: #cccccc;
	background-image: url("../images/text2image/alignment-center.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
	margin-left:5px;
}

.alignmentbutton span.right{
	background-image: url("../images/text2image/alignment-right.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
	margin-left:5px;
}
.alignmentbutton span.right.active{
	background-color: #cccccc;
	background-image: url("../images/text2image/alignment-right.png");
	background-position: center center;
    background-repeat: no-repeat;
	width: 12px; 
	height: 12px;
	display:block;
	padding: 3px 6px;
	cursor: pointer;
	float:left;
	margin-left:5px;
}

.stampinput{
	width:400px;
	height:20px;
}

#stampinput select{
	width:400px;
	height:20px;
}
.form-list td#stamptextera select{
	width:400px
}
#stampoptgroup select{
	width:400px
}

select #stampoptgroup option {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    padding: 6px 4px;
}
select #stampoptgroup optgroup{
    font-style: normal;
    padding: 8px 0 0;
	height:25px
}
select.stampline option{
	border-bottom:1px solid #dddddd;
	border-top:1px solid #dddddd;
	height:18px;
	line-height:18px;
	font-size:13px
}
.stampne{
	height:22px;
	border-bottom:1px solid #dddddd;
	line-height:30px;
	font-size:15px;
	color:#1e1e1e
}
.stampmainstore{
	height:42px;
	border-bottom:1px solid #dddddd;
	font-size:13px;
	color:#1e1e1e
}
.designtemplate{
	width:100%;
	min-height:550px
}
.designtp{
	width:100%;
}

.findthestamp{
	width:1050px;
	margin:10px;
}
.left_choose{
	width:200px;
	float:left;
	margin:0 0 0 5px
}
.box_choose select{
	width:199px;
	height:22px;
	display:block;
	font-weight:bold;
	line-height:22px
}
.box_choose ul{
	width:95%;
	margin:3px 0 0 10px
}
.box_choose ul li{
	list-style:none;
	line-height:25px;
}
.box_choose ul li a{
	color:#333333
}
.box_choose{
	border:1px solid #dedede;
	border-top:none;
	margin:0 0 2px 0
}
.createdesign{
	width:372px;
	float:left
}
.createdesign_template{
	width:372px;
	float:left;
	margin:0 0 0 15px
}
.designmin{
	width:100%;
	min-height:200px;
	background:#333333;
	float:left
}
.main_design {
	width:400px; 
	height:250px; 
	background:#333333; 
	display: table-cell;
	vertical-align: middle ;
	position: relative;
}

.textplate{
	background:#fff;
	text-align:center;
	margin:0px auto;
	position: relative;
}
#texplate_design_content div, {position: absolute;}
.button_upload{
	width:98px;
	height:45px;
	background:url(../images/text2image/buttonupload.jpg) no-repeat center top;
	margin:0 0 0 23px;
	cursor:pointer;
}
.fileupload{
	position:absolute;
	top:0;
	right:0px;
	-moz-opacity:0;
	filter:alpha(opacity: 0);
	opacity: 0;
	text-align: right;
	z-index: 2;
	cursor:pointer;
}
#upload_area iframe {
	display:none;
}
.uploadtimg{
	width:165px;
	height:112px;
	text-align:center;
	float:left;
	margin:50px 0 0 20px;
	font-weight:bold;
	line-height:22px
}
.uploadtimg p{
	font-size:14px;
	font-weight:bold
}
.imgupload {
	width:98px;
	margin:0;
	float:left;
	height:45px;
	padding:0;
	background:url(../images/text2image/buttonupload.jpg) no-repeat center
	
}

.imgupload a{
	padding:20px;
	line-height:40px;
	color:#000;
	text-transform:uppercase;
	font-weight:normal
}
.imgupload a:hover{
	padding:20px;
	line-height:40px;
	color:#fff;
	text-transform:uppercase;
	font-weight:normal
}
.pdfupload {
	width:50%;
	margin:0;
	float:left;
	height:43px;
	
}
.pdfupload:hover {
	width:50%;
	margin:0;
	float:left;
	height:43px;
	background:url(../images/text2image/bg-upload-pdf.jpg) no-repeat right top;
	font-weight:normal
	
	
}
.pdfupload a{
	padding:20px;
	line-height:40px;
	color:#000;
	text-transform:uppercase;
	font-weight:normal
}
.pdfupload a:hover{
	padding:20px;
	line-height:40px;
	color:#fff;
	text-transform:uppercase;
	font-weight:normal
}
.choosecolor{
	width:159px;
	height:42px;
	background:url(../images/text2image/choosecolor.jpg) no-repeat center top
}
.colorblack{
	width:25px;
	height:25px;
	background:#333333;
	float:left;
	margin:8px 0 0 20px
}
.colorblack a{
	padding:12px
}
.colorble a{
	padding:12px
}
.colorred a{
	padding:12px
}
.colorble{
	width:25px;
	height:25px;
	background:#000bf2;
	float:left;
	margin:8px 0 0 15px
}
.colorred{
	width:25px;
	height:25px;
	background:#ff0021;
	float:left;
	margin:8px 0 0 20px
}
.text_design{
	width:100%;
	margin:15px auto;
	clear:both;
	float:left
}
.Manage-Templates{
	width:100%;
	margin:15px auto;
	clear:both;
	float:left
}
.title_font_size{
	width:100%;
	margin:15px auto;
	height:25px;
	background:#f2f2f2;
	border:1px solid #dcdcdc
}
.title_font_size span{
	width:230px;
	float:right
}
.title_font_size span img{
	padding:0 5px
}
.text_design_input{
	width:100%;
	height:25px;
	float:left;
	margin:5px 0
}
.inputtext{
	margin-left: 5px;
	width:353px;
	float:left
}
.inputtext input{
	width:353px;
	height:18px
}
.inputtext{
 	 float:left;
}
.inputtext_template input{
 /*width:528px;*/
 width: 400px;
 height:18px
}
.inputfont{
	width:110px;
	height:18px;
	float:left;
	margin:0 0 0 40px
}
.inputfont select{
	width:110px;
	height:18px;
	float:left;
}
.inputsize{
	width:40px;
	height:18px;
	float:left;
	margin:0 0 0 5px
}
.inputsize select{
	width:40px;
	height:18px;
	float:left;
}
.checkboxtext{
	width:100px;
	float:left;
	margin:0 0 0 22px
}
.checkboxtext input{
	padding:0 3px
}
.standarcheck{
	width:20px;
	float:left;
	margin:0 0 0 10px;
	background:url(../images/text2image/Manage-Templates-2_06.jpg) no-repeat center;
	height:20px
}
.standarcheck:hover{
	width:20px;
	float:left;
	margin:0 0 0 10px;
	background:url(../images/text2image/Manage-Templates-2_03.jpg) no-repeat center;
	height:20px
}
.standarcheck a{
	padding:8px 51px;
}
.addline{
	width:50%;
	float:left;
}
.addline_icon img{
	width:36px;
	height:35px;
	float:left
}
.addline_icon a p{
	color:#009900;
	font-size:24px;
	line-height:35px;
	padding:0 0 0 10px;
	width:250px;
	float:left
}
.erro{
	width:100%;
	clear:both;
	padding:10px 0 0;
	font-size:16px
}
.addline_icon input{
	float:left
}
.addline_icon p{
	font-size:16px;
	line-height:12px;
	text-indent:10px
}
.scale{
	width:185px;
	height:25px;
	background:#ededed;
	line-height:25px;
	margin:20px 0 0;
	text-align:center;
    cursor: pointer;
}
.buttoncontine{
	height:25px;
	background:url(../images/text2image/button-hover.jpg) repeat-x;
	clear:both;
	float:right;
	line-height:25px;
	margin:10px 0
}
.buttoncontine a{
	padding:0 10px;
	text-transform:uppercase;
	color:#fff
}
a > .imgupload{
	color:#000000
}


.title_font_size span{
	width:230px;
	float:left
}
.titletop{
	width:450px;
	float:right
}
.applyfontstamp{
	width:177px;
	float:left;
}
.applyfontstamp select{
	width:110px;
	height:18px;
	float:left;
	margin:2px 0 0
}
.applyfontstamp p{
	line-height:22px
}
.applyfontstamp input{
	width:10px;
	height:10px;
	float:left;
	margin:5px
}
.allcheck{
	width:102px;
	height:25px;
	float:left
}

.standarcen{
	width:130px;
	padding-top:4px;
	float:left;
}
.standarcen img{
	width:71px;
	float:left;
	padding:2px 0 0
}
.standarcen1{
	width:100px;
	float:left;
	height:20px;
}
.standarcen1 a{ 
	height:20px;
	width:20px;
}
.standarcen input{
	width:10px;
	height:10px;
	float:left;
	margin:2px
}
.standarcen p{
	line-height:15px
}

.alginment{
	display:inline-block;
    height: 20px !important; 
    width: 20px !important;
	background: url(../images/text2image/icons-alignment.gif) no-repeat scroll 20px 20px transparent;
}
.alginment:hover{
	border: 1px solid #000000;
}
span.justifycenter {
    background-position: -0px 0;
}
span.justifyleft {
    background-position: -20px 0;
}
span.justifyright {
    background-position: -40px 0;
} 
.standarcen .active, .standarcen1 .active{
	border: 1px solid #000000;
}

.text_image {
    border: 1px solid transparent; 
    cursor: move;
    white-space: nowrap;
    position:absolute;
}
.text_image:hover{border: 1px dotted #CCCCCC;}

.border_image {border: 1px dotted #CCCCCC; position: absolute; padding:0 !important}

.border_image .icon_image {border: 0 none; margin: 0 !important;}
.border_image .delete{
	background: url(../images/text2image/delete.png) no-repeat transparent;
	width: 13px;
	height:12px;	
}
.border_image a{
	position: absolute;
    top: -13px;
}
.border_image .ui-icon{
	background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    z-index: 5000;
}
